
nav:not(.mm-menu) {
    display: none;
}

.header,
.content,
.footer {
    text-align: center;
}

.header,
.footer {
    cursor: pointer;
    background: #777;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 50px;
}

    .header.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    .footer.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .header a {
        display: block;
        width: 32px;
        height: 23px;
        padding: 0px;
        position: absolute;
        top: 27px;
        left: 40px;
        background: url(../../COMMON/images/menu_bg.png) no-repeat;
    }


.content {
    padding: 150px 50px 50px 50px;
}
