@font-face {
  font-family: 'Calibri';
  src: url('Calibri.eot?#iefix') format('embedded-opentype'),  url('Calibri.woff') format('woff'), url('Calibri.ttf')  format('truetype'), url('Calibri.svg#Calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
	font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    color: #017488;
	text-algn: center;
	text-transform:capitalize;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}
.resp-tabs-list li:last-child{
	border-right:none;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 0%;
    float: left;
    width: 100%;
}

.resp-tab-active {
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
	font-family: 'Calibri', sans-serif;
    font-size: 16px;
	text-transform:uppercase;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
.resp-vtabs .resp-tabs-list li.flight{
	background:url(../images/tab01.png) no-repeat left 11px !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#3c3c3c !important;
}
.resp-vtabs .resp-tabs-list li.flight:hover {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.flight.resp-tab-active {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.hotel{
	background:url(../images/tab02.png) no-repeat left 11px !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#3c3c3c !important;
}
.resp-vtabs .resp-tabs-list li.hotel:hover {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.hotel.resp-tab-active {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.holiday{
	background:url(../images/tab03.png) no-repeat left 12px !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#3c3c3c !important;
}
.resp-vtabs .resp-tabs-list li a{
	font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    color: #636363;
}
.resp-vtabs .resp-tabs-list li.holiday:hover {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.holiday.resp-tab-active {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.siteseeing{
	background:url(../images/tab04.png) no-repeat left 12px !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color:#3c3c3c !important;
}
.resp-vtabs .resp-tabs-list li.siteseeing:hover {
	border-bottom:4px solid #ed1b24 !important;
}
.resp-vtabs .resp-tabs-list li.siteseeing.resp-tab-active {
	border-bottom:4px solid #ed1b24 !important;
	
}


/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 100%;
	background:url(../images/tab_brder.jpg) repeat-x;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 0px 17px 0px 33px !important;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
	height:47px;
	line-height:52px;
	text-align:center;
    float: left;
	font-weight:normal;
}
.resp-vtabs .resp-tabs-list li:last-child{
	margin-right:0px !important;
}


.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background: #FFF;
    float: left;
    width: 100%;
    min-height: 0px;
    clear: none;
	margin-bottom:0px;
	margin-top: 0px;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
	padding-bottom:0px;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
 padding: 0px 17px 0px 33px !important;
margin-bottom: 0px !important;
/*background:#0662ab !important;
*/border-bottom:none !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #ffffff;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
       border-top: 1px solid #ed1b24;
    background: #ed1b24 !important;
    color: #ffffff;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 990px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    background:#ed1b24  !important;
    color: #FFF;
	    width: 100%;
    float: left;
    }


    .resp-vtabs .resp-tab-content {
       border: 1px solid #bbbbbb;
		background: #FFF;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 0px;
        clear: none;
		margin-top: 0px;
		
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        /*border-bottom: 1px solid #c1c1c1 !important;*/
		background:#FFF;
    }
}
