/*dark-blue:#2f3292, Gold:#c57a2b,*/
@import url('https://fonts.googleapis.com/css?family=Yesteryear');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('CenturyGothic_gdi.eot');
    src: url('CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('CenturyGothic_gdi.woff') format('woff'), url('CenturyGothic_gdi.ttf') format('truetype'), url('CenturyGothic_gdi.otf') format('opentype'), url('CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

.pretty_check {
    position: absolute;
    left: 0px !important;
    top: -4px !important;
    width: 20px !important;
    height: 19px !important;
    background: #FFF !important;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.14);
    margin-top: 5px;
}

    .pretty_check input[type="checkbox"] {
        position: absolute;
        width: 20px;
        height: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        opacity: 0;
        cursor: pointer;
    }

        .pretty_check input[type="checkbox"] + label:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 4px;
            background: url(../../COMMON/images/pretty_checkbox.png) no-repeat;
            content: " ";
            vertical-align: top;
            cursor: pointer;
            margin-top: -1px;
        }

        .pretty_check input[type="checkbox"]:checked + label:before {
            background-position: 0 -20px;
        }

        .pretty_check input[type="checkbox"] + label:before {
            background-position: 0 0px;
        }

.hotel_left_area {
    width: 78%;
    height: auto;
    float: left;
    position: relative;
}

.tabstyle ul {
    padding: 0px;
    background: #f1f1f1 !important;
}

    .tabstyle ul li {
        margin-bottom: 0px !important;
        margin: 0px !important;
        background: none !important;
        border: none !important;
        margin-right: 2px !important;
    }

        .tabstyle ul li a {
            border-radius: 0px !important;
            border: 1px solid #FFF !important;
            color: #737373;
        }

.tabstyle li.active a, .tabstyle li.active a:hover {
    background: #fd6d21 !important;
    border: 1px solid #fd6d21 !important;
    color: #FFF;
}

.tabstyle li a:hover {
    background: #fd6d21 !important;
    color: #FFF;
    border: 1px solid #fd6d21 !important;
}

.hotel_img {
    width: 30%;
    float: left;
    max-height: 140px;
    overflow: hidden;
}

    .hotel_img img {
        width: 100%;
    }

.hotel_dis {
    width: 68%;
    float: right;
}

    .hotel_dis h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #000000;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .hotel_dis h4 {
        color: #f3b500;
        margin-right: 3px;
        margin-bottom: 4px;
    }

        .hotel_dis h4 i {
            margin-right: 5px;
        }

.hotel_staring {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

    .hotel_staring i {
        font-size: 16px;
        color: #c57a2b;
    }

.hotel_location {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 15px;
    margin-bottom: 7px;
}

    .hotel_location i {
        position: absolute;
        font-size: 18px !important;
        color: #2199d5;
        top: 1px !important;
    }

    .hotel_location span {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #2199d5;
        font-weight: 400;
    }

.hotel_cont {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    padding-top: 6px;
}

    .hotel_cont p {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #2e475d;
        font-weight: 400;
    }

        .hotel_cont p b {
            color: #2199d5;
        }

.hotel_details {
    width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding: 0px 0px 10px 0px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: none;
}

.htl_pdding10 {
    margin-left: -10px;
    margin-right: -10px;
}

.hotel_bg_color01 {
    background: #d2d2d2;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
    padding: 8px 10px;
}

.hotel_room_details {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    float: left;
    margin-top: 7px;
}

.hotel_room_details01 {
    padding: 0px 16px;
    width: 100%;
    float: left;
}

.hotel_room_details02 {
    padding: 5px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e9e9e9;
}

.hotel_sm_padding {
    padding-left: 10px;
    padding-right: 10px;
}

.room_type {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #313131;
    font-weight: 400;
    padding-left: 27px;
    padding-top: 6px;
}

    .room_type span {
        color: #70635c;
    }

    .room_type i {
        position: absolute;
        font-size: 18px !important;
        color: #2e475d;
        top: 6px !important;
        left: 0px !important;
    }

.htl_sp {
    font-size: 19px;
    color: #129c25;
    margin-right: 5px;
    float: left;
}

.htl_sp01 {
    font-size: 19px;
    color: #ed1c24;
    margin-right: 5px;
    float: left;
}

.status_area {
    padding-top: 6px;
}

    .status_area span {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #129c25;
        font-weight: 400;
        padding: 1px 3px;
        border-radius: 3px;
        float: left;
    }

.status_area_clr {
    background: #ff9207 !important;
}

.cost_area {
    padding-top: 6px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ff0000;
    font-weight: 600;
}

    .cost_area span {
        float: left;
    }

    .cost_area i {
        font-size: 18px;
        margin-left: 5px;
        color: #ff803c;
        transition: all linear 0.15s;
        float: left;
        margin-top: 2px;
    }

        .cost_area i:hover {
            color: #5f3119;
        }

.book_button a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #FFF;
    font-weight: 500;
    float: right;
    padding: 7px 10px;
    background: #ff803c;
    cursor: pointer;
}

    .book_button a:hover {
        background: #9a4f26;
    }

.hotel_paymet_guest {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500;
}

    .hotel_paymet_guest h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .hotel_paymet_guest h4 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #3c3c3c;
    }

.fee_description {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

    .fee_description ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .fee_description ul li {
            width: 100%;
            float: left;
            background: url(../images/point.png) no-repeat left 5px;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 600;
            color: #3c3c3c;
            padding-left: 13px;
        }

.hotel_guest_room {
    width: 100%;
    float: left;
    background: #dadada;
    padding: 5px 11px;
    font-size: 13px;
    margin-bottom: 15px;
}

.hotel_icon_mrgn {
    margin-right: 5px;
    font-size: 16px;
    margin-left: 4px;
}

.hotel_details_area {
    width: 100%;
    float: left;
}

.hotel_star {
    width: 100%;
    float: left;
    margin-bottom: 4px;
}

    .hotel_star i {
        color: #f3b500;
        font-size: 18px;
        margin-right: 3px;
    }

.hotel_details_area h3 {
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}

.hotel_details_area p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
}

.hotel_pic {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-bottom: 6px;
}

.price {
    font-size: 16px;
    margin-right: 4px;
}

.bars_icon {
    margin-right: 6px;
    margin-left: 5px;
    font-size: 18px;
}

.box-rooms_dates {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

    .box-rooms_dates h3 {
        font-size: 14px;
        margin-bottom: 12px;
        font-weight: 600;
        color: #2e475d;
        font-family: 'Open Sans', sans-serif;
    }

.hotel_calender {
    width: 100%;
    float: left;
    height: 17px;
    border: none;
    background: url(../images/calender02.png) no-repeat 0px 0px;
    /*cursor: pointer;*/
    padding-left: 22px;
    font-weight: 600;
    color: #f57c1d;
    font-size: 14px;
}

#hoteldetails > div > div {
    width: 100% !important;
    padding: 2% 0px !important;
}

#hoteldetails table {
    border-color: #1a86bd;
}

    #hoteldetails table tr th {
        background: #2098d5;
        color: #FFF;
    }

    #hoteldetails table tr th, #hoteldetails table tr td {
        padding: 7px;
    }

.hotel_calender::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #2f3292;
    font-size: 12px;
    font-weight: normal;
    font-weight: 600;
}

.hotel_calender:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #0059c0;
    font-size: 12px;
    font-weight: normal;
    font-weight: 600;
}

.hotel_calender::-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #0059c0;
    font-size: 12px;
    font-weight: normal;
    font-weight: 600;
}

.hotel_calender:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #0059c0;
    font-size: 12px;
    font-weight: normal;
    font-weight: 600;
}

.hotel_result {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 5px;
    color: #1d94d0;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px 5px 10px;
}

    .hotel_result i {
        font-size: 18px;
        margin-right: 5px;
    }

.padding_sm {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

.hotel_review {
    width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}

    .hotel_review h4 {
        background: #0059c0;
        padding: 10px 5px;
        width: 100%;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #FFF;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .hotel_review h5 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #0059c0;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .hotel_review p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #929292;
        font-size: 13px;
        margin-bottom: 12px;
    }

.hotel_icon5 {
    font-size: 22px;
    margin-right: 6px;
}

.modal-footer {
    padding: 11px 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #FFF;
    margin-top: -22px;
}

    .modal-footer h3 {
        color: #FFF;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }

        .modal-footer h3 span {
            color: #FFF;
        }

.modal-header {
    padding: 7px 15px;
}

.hotel_no_padding {
    padding: 0px;
}

.sp_bg_hotel {
    background: #e6e6e6;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

    .sp_bg_hotel h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #f52b0a;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .sp_bg_hotel h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #4c4c4c;
        font-size: 13px;
        margin-bottom: 8px;
        line-height: 20px;
    }

        .sp_bg_hotel h4 span {
            color: #2f3292;
        }

.hotel_type {
    background: #FFF;
    padding: 10px;
}

    .hotel_type h5 {
        color: #0974a7;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 14px;
    }

        .hotel_type h5 i {
            font-size: 18px;
        }

    .hotel_type h4 {
        color: #4c4c4c;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        text-align: center;
        margin-bottom: 14px;
    }

.hotel_type_area {
    border-bottom: 2px dotted #b8b8b8;
    padding: 5px 10px;
    width: 100%;
    float: left;
    color: #0974a7;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.stars_area01 {
    width: 100%;
    min-height: 20px;
}

.formsfont i {
    float: left;
    position: relative !important;
    margin-right: 3px;
    left: 0px !important;
    color: #f3b500 !important;
}

.checkBox_area input[type="checkbox"] + label:before {
    float: left !important;
    margin-top: 5px !important;
    margin-right: 9px;
}

.tab-links {
    border-radius: 0px;
}

.tab-content {
    margin-top: 0px;
    border-radius: 0px;
}

.hotel_details {
    border-radius: 0px;
}

.need_help {
    border-radius: 0px;
}

.left_padding10 {
    padding: 0px 10px !important;
}

.booking_info {
    width: 100%;
    float: left;
}

.info_txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 400;
    padding: 4px 30px 4px 0px;
}

.fare_break01 .info_txt {
    color: #ff0000 !important;
    font-weight: 600;
    border-top: 1px dashed #dadada;
}

.info_txt01 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 400;
    padding: 4px 0px;
}

.info_txt02 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2e475d;
    font-weight: 400;
    padding: 4px 0px;
}

.hotel_table {
    width: 100%;
    float: left;
}

.sp_table {
    background: rgba(133, 119, 71, 0.68);
    color: #FFF !important;
}

.table_links {
    width: 100%;
    float: left;
    padding: 5px 0px;
}

    .table_links a {
        font-family: 'Open Sans', sans-serif;
        border: solid 1px #d4d4d4;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 7px 9px;
        font-size: 13px;
        font-weight: 400;
        color: #2e475d;
        display: inline-block;
        margin: 0 4px 0 0px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
    }

        .table_links a:hover {
            background: #2098d5;
            color: #FFF;
            border: 1px solid #2098d5;
        }

.sp_footer {
    text-align: right !important;
    background: none;
}

.sp_color {
    color: #3a3a3a;
}

    .sp_color a i {
        color: #2098d5 !important;
    }

.hotel_table a i {
    color: #2098d5 !important;
}

.hotels_view_area {
    width: 100%;
    margin: 10px 0px;
    float: left;
}

    .hotels_view_area ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .hotels_view_area ul li {
            width: 100%;
            float: left;
            background: #FFF;
            border: 1px solid #e0e0e0 !important;
            min-height: 18px;
            margin-bottom: 5px;
        }

.hotel_name {
    color: #2e475d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    padding-right: 15px !important;
}

    .hotel_name span {
        color: #c57a2b;
        float: left;
    }

    .hotel_name p {
        float: left;
        padding-right: 10px;
    }

.hotel_place {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0059c0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.hotel_price {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #ff803c;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.available {
    padding: 1px 11px;
    color: #129c25;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
    border: 1px dashed #129c25;
    font-weight: 600;
}

.hotelstatus_OR {
    padding: 1px 11px;
    background: #ff9207;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}

.more_view_click {
    padding: 6px 8px 6px 14px;
    background: #2199d5;
    color: #FFF;
    cursor: pointer;
    float: right;
    font-size: 13px;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .more_view_click:hover {
        background: #0b7bb3;
    }

#HotBook_2 {
    background: #2199d5;
}

.more_view_click01 {
    padding: 6px 8px 6px 14px;
    background: #ff803c;
    color: #FFF;
    cursor: pointer;
    float: right;
    display: none;
    font-size: 13px;
    margin-bottom: 5px;
}

    .more_view_click i, .more_view_click01 i {
        margin-left: 19px;
    }

.rate_area01 {
    margin-bottom: 5px !important;
    padding-top: 0px !important;
}

.photoview {
    width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding: 0px 0px 10px 0px;
    border-radius: 7px;
    margin-bottom: 10px;
}

.more_search {
    padding: 0px 26px !important;
}

.flight_rate_area a {
    font-weight: 400;
}

.click_cont01 {
    display: none;
}

.view_hotel_sec {
    width: 100%;
    float: left;
}

ul.tab-links li {
    width: auto;
    border: none;
}

    ul.tab-links li a {
        border: 1px solid #cccccc;
    }

    ul.tab-links li:last-child {
        border-bottom: none;
    }

.padding10 {
    padding: 10px;
}

.search_details {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 0px !important;
}

.hotel_view_area {
    position: relative;
}

footer {
    margin-top: 10px;
}

.hotel_description {
    width: 100%;
    float: left;
    padding: 15px;
}

.hotel_address {
    width: 100%;
    float: left;
}

    .hotel_address h3 {
        color: #2f2f2f;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .hotel_address p {
        color: #4c4c4c;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin-top: 3px;
    }

    .hotel_address span {
        color: #f3b500;
        font-size: 17px;
    }

        .hotel_address span i {
            margin-right: 3px;
        }

.hotel_contact {
    width: 100%;
    float: left;
    padding: 10px 0px;
}

    .hotel_contact h4 {
        color: #4c4c4c;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 600;
        padding-bottom: 4px;
    }

.point_or_interest {
    width: 100%;
    float: left;
    background: #009ee8;
    padding: 10px;
    margin-bottom: 10px;
}

    .point_or_interest h3 {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    .point_or_interest h4 {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin-bottom: 6px;
        border-bottom: 1px dashed #a9c1d4;
        padding-bottom: 6px;
    }

.map {
    width: 100%;
    min-height: 100px;
    float: left;
}

.hotel_dis_area {
    width: 100%;
    float: left;
}

    .hotel_dis_area h3 {
        color: #2f2f2f;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 6px;
        text-transform: capitalize;
        margin-top: 10px;
    }

    .hotel_dis_area p {
        color: #4c4c4c;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        margin-top: 3px;
        text-align: justify;
    }

.hotel_aminities {
    width: 100%;
    float: left;
    margin-top: 10px;
}

    .hotel_aminities h4 {
        width: 100%;
        float: left;
        padding: 10px 0px;
        color: #2f2f2f;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin-bottom: 8px;
        border-bottom: 1px dashed #d6d6d6;
        font-weight: 600;
    }

        .hotel_aminities h4 i {
            margin-right: 5px;
            color: #fd6d21;
        }

    .hotel_aminities ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .hotel_aminities ul li {
            border: none !important;
            width: 50%;
            margin-right: 0px !important;
            padding-right: 10px;
            color: #4c4c4c;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            margin-bottom: 6px !important;
        }

            .hotel_aminities ul li:last-child {
                border: none;
            }

            .hotel_aminities ul li i {
                color: #a0a0a0;
                margin-right: 5px;
                width: 21px;
            }

.hotel_ar {
    float: right;
}

.on_request_clr {
    font-size: 19px;
    color: #ff9207;
    margin-right: 5px;
    float: left;
}

.hotel_mobile_info {
    width: auto;
    float: right;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
}

    .hotel_mobile_info a {
        height: 25px;
        float: right;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #2e475d;
        font-weight: 500;
        padding: 0px 26px 0px 11px;
        line-height: 25px;
        background: url(../images/hotel-more-info.png) no-repeat right; /* border-radius: 3px; */
        overflow: hidden;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
    }

        .hotel_mobile_info a:hover {
            color: #FFF;
            background: #51355e url(../images/hotel-more-info-hvr.png) no-repeat right;
        }

ul.tab-links li a p {
    float: left;
}

.available_icons {
    width: 100%;
    float: left;
}

    .available_icons i {
        color: #9e9e9e;
        font-size: 16px;
        margin-right: 5px;
    }

.satellite_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/satellite.png) no-repeat;
}

.hairdryer_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/hairdryer.png) no-repeat;
}

.gym_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/gym.png) no-repeat;
}

.tennis_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/tennis.png) no-repeat;
}

.golf_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/golf.png) no-repeat;
}

.poolh_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/pool-heated.png) no-repeat;
}

.sauna_icon {
    width: 18px;
    height: 16px;
    float: left;
    background: url(/HOTEL/hotel/images/sauna.png) no-repeat;
}

.btn_selectedroom {
    background: linear-gradient(to bottom, #248632 0%,#69bd07 100%) !important;
}

.desktop_sort p {
    float: right;
    padding: 2px 7px 1px 7px;
    background: #ff803c;
    color: #FFF;
    font-size: 12px;
    margin-top: 9px;
    border-radius: 2px;
}

.desktop_sort {
    margin-bottom: 0px !important;
}

.checkBox_area label {
    line-height: 30px !important;
}

.accordion li i.fa-chevron-down {
    position: absolute;
    top: 6px;
    right: 2px;
    font-size: 18px;
    color: #b3b3b3;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); /* transform: rotate(180deg); */
}

.accordion li i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(0deg);
}

.simplePopupBackground {
    z-index: 99 !important;
}

.modal-backdrop {
    z-index: 999 !important;
}

.red {
    color: #ff0101 !important;
}

.green {
    color: lightgreen !important;
}

.orange, .fa-tag {
    color: orangered !important;
}

.cmn_box_section {
    width: 100%;
    float: left;
    min-height: 275px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}

    .cmn_box_section h3 {
        padding: 12px 5px;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: #FFF;
        font-weight: 500;
    }

        .cmn_box_section h3 i {
            font-size: 23px;
            position: relative;
            margin-top: -3px;
        }

.clr_code01 {
    background: #FFF;
}

    .clr_code01 h3 {
        background: #2e475d;
    }

.cmn_box_content {
    width: 100%;
    float: left;
    padding: 12px;
}

    .cmn_box_content a {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #4c4c4c;
        margin-bottom: 8px;
        display: block;
    }

    .cmn_box_content p {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #4c4c4c;
        margin-bottom: 8px;
    }

.clr_code02 {
    background: #FFF;
}

    .clr_code02 h3 {
        background: #2e475d;
    }

.clr_code03 {
    background: #FFF;
}

    .clr_code03 h3 {
        background: #2e475d;
    }

.clr_code04 {
    background: #FFF;
}

    .clr_code04 h3 {
        background: #2e475d;
    }

.sp_right {
    float: right;
}

.search_area h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    background: #2d3e52;
    padding: 9px 10px;
}

.srch_table22 {
    width: 100%;
    height: auto;
    float: left;
    background: #e0e0e0;
    margin-bottom: 10px;
}

.srch_table {
    width: 100%;
    height: auto;
    float: left;
    background: #b7b7b7;
}

.srch_grid_style01 > thead > tr {
    background: #2d3e52;
}

    .srch_grid_style01 > thead > tr > th {
        color: #FFF !important;
        font-weight: normal;
    }

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 500;
}

.tbodytrpointer {
    cursor: pointer;
}

.no_data {
    background: #e9c734;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

    .no_data img {
        float: left;
    }

    .no_data p {
        font-family: 'Yesteryear', cursive;
        color: #000;
        font-size: 32px;
        text-align: left;
        padding-top: 41px;
        text-shadow: 3px 0px 0px #b79b21;
        line-height: 29px;
    }

.no_data_mrg {
    margin-bottom: 10px;
}

.table-hover05 > tbody > tr:hover {
    background-color: #e09c84;
    color: #FFF;
}

.no_pillow {
    width: 100%;
    float: left;
    padding: 5px;
    background: #b00909;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

    .no_pillow i {
        font-size: 17px;
        margin-right: 6px;
    }

.lesscreditlimit a.close, .nocreditlimit a.close {
    color: #607D8B;
}

.hoteldealhighlightag {
    background: #ff0000;
    float: left;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    right: -22px;
}

    .hoteldealhighlightag i {
        font-size: 11px !important;
    }

.hotelloadingmobile {
    display: none;
    text-align: center;
}

    .hotelloadingmobile img {
        width: 150px;
    }
/*hotel top modify CSS*/
.top_details {
    width: 100%;
    float: left;
    background: #b3a36a;
    border-top: 1px solid #FFF;
}

.modify_details_left {
    width: 100%;
    float: left;
    margin-top: 23px;
    position: relative;
    z-index: 9;
}

.desti_name {
    width: 42%;
    float: left;
    padding: 8px 0px;
}

    .desti_name h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #FFF;
        font-size: 17px;
    }

        .desti_name h3 span {
            font-weight: 600;
            font-size: 25px;
        }

    .desti_name p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #ffcb93;
        font-size: 13px;
    }

.desti_icon {
    padding: 12px 20px;
    float: left;
}

.datepax_area {
    width: 100%;
    float: left;
    position: relative;
    z-index: 9;
}

.firstpax_area {
    width: 100%;
    float: left;
}

.date_area_pax {
    width: 100%;
    color: #FFF;
    padding-left: 0px;
    padding-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

.hotel_banner a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 13px;
    border: 1px solid #b3a36a;
    border-radius: 15px;
    float: left;
    padding: 6px 29px;
    margin-top: 12px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .hotel_banner a:hover {
        background: #b3a36a;
    }

.date_area_pax span {
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 5px;
}

.paxNums {
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fbc387;
    padding-left: 10px;
}

    .paxNums span {
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        padding: 0px 5px;
    }

.top_details a {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #2f3292;
    background: #FFF;
    padding: 0px 8px;
    border-radius: 3px;
    float: right;
    height: 24px;
    line-height: 24px;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: all linear 0.15s;
}

    .top_details a:hover {
        background: #dcdcdc;
    }

.sp_mode {
    width: 100% !important;
}

    .sp_mode p {
        padding-left: 16px;
    }

.fix_header {
    position: fixed;
    z-index: 9999999;
}

.icn_htl {
    margin-right: 6px;
    margin-left: 8px;
}
/*hotel top modify CSS CLOSE*/
.checkBox_area span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 5px;
    float: right;
    display: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.checkBox_area:hover span {
    display: block;
}

.hotel_detailsbtn a {
    height: 25px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #404040;
    font-weight: 600;
    padding: 0px 26px 0px 11px;
    line-height: 25px;
    background: url(../images/hotel-more-info.png) no-repeat right; /* border-radius: 3px; */
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.hotel_detailsbtn {
    float: right;
    margin-bottom: 7px;
}

    .hotel_detailsbtn a:hover {
        color: #FFF;
        background: #ff9a64 url(../images/hotel-more-info-hvr.png) no-repeat right;
    }

.hotel_banner {
    width: 100%;
    min-height: 200px;
    float: left;
    padding: 10px 0px;
    background: url(/COMMON/images/hotel_bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 0px;
    position: relative;
}

    .hotel_banner::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,f57c1d+100 */
        background: #000000; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #000000 0%, #f57c1d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #000000 0%,#f57c1d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #000000 0%,#f57c1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#f57c1d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        opacity: 0.7;
    }
/*new*/
.frm_tab_view01 {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.frm_from {
    width: 100%;
    float: left;
    height: 38px;
    border: 1px solid #dadada;
    font-family: 'Open Sans', sans-serif;
    color: #2e475d;
    font-size: 12px;
    font-weight: normal;
    padding-right: 32px;
    background: url(../../amaflight/Flightcomponents/images/frm_img.png) no-repeat center right;
    padding-left: 10px;
    margin-bottom: 6px;
}

.start_date {
    width: 100%;
    float: left;
    height: 38px;
    border: 1px solid #dadada;
    font-family: 'Open Sans', sans-serif;
    color: #2e475d;
    font-size: 12px;
    font-weight: normal;
    padding-right: 32px;
    background: url(../../amaflight/Flightcomponents/images/calender_img8.png) no-repeat center right;
    padding-left: 10px;
    margin-bottom: 6px;
}

.end_date5 {
    width: 100%;
    float: right;
    height: 38px;
    border: 1px solid #dadada;
    font-family: 'Open Sans', sans-serif;
    color: #2e475d;
    font-size: 12px;
    font-weight: normal;
    padding-right: 32px;
    background: url(../../amaflight/Flightcomponents/images/calender_img8.png) no-repeat center right;
    padding-left: 10px;
    margin-bottom: 6px;
}

.select_adult {
    width: 48%;
    float: left;
    height: 38px;
    border: 1px solid #dadada;
    font-family: 'Open Sans', sans-serif;
    color: #2e475d;
    font-size: 12px;
    font-weight: normal;
    padding-right: 32px;
    background: url(../../amaflight/Flightcomponents/images/adult_dwn.png) no-repeat center right;
    padding-left: 10px;
    margin-bottom: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.frm_sb_btn {
    width: 100%;
    height: 42px;
    float: left;
    background: #2199d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .frm_sb_btn:hover {
        background: #0b7bb3;
    }

.frm_tab_view01 label {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2c2d2d;
    font-size: 13px;
}

.date_area_frm {
    margin-bottom: 6px;
    float: left;
    width: 100%;
}

.cont_txt01 {
    margin-bottom: 6px;
}

.date_area_frm label {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #2c2d2d;
    font-size: 13px;
}

.select_adult {
    width: 100%;
    float: left;
    height: 38px;
    border: 1px solid #9ba8b1;
    font-family: 'Open Sans', sans-serif;
    color: #2e475d;
    font-size: 12px;
    font-weight: normal;
    padding-right: 32px;
    background: url(../../amaflight/Flightcomponents/images/adult_dwn.png) no-repeat center right;
    padding-left: 10px;
    margin-bottom: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

.select_adult5 {
    width: 48%;
    float: left;
}

.select_adult6 {
    width: 48%;
    float: right;
}

.roomsAreasec {
    width: 100%;
    float: left;
    border: 1px dashed #2e475d45;
    padding: 5px;
    margin-bottom: 6px;
    margin-top: 7px;
}

    .roomsAreasec h5 {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #2c2d2d;
        font-weight: 700;
        float: left;
        padding-top: 6px;
        margin-bottom: 8px;
        width: 100%;
    }

    .roomsAreasec label {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: #2c2d2d;
        font-size: 13px;
    }

.view_map {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    display: none;
}

.htl_list {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 9;
}

.htl_list01 {
    width: 315px;
    float: left;
    background: #FFF;
    height: 100%;
}

.htl_map_view {
    width: 100%;
    height: auto;
    float: right;
}

#map {
    height: 84vh;
}

.htl_view {
    width: 40px;
    height: 40px;
    float: right;
    background: #f2751f;
    cursor: pointer;
    position: absolute;
    right: -40px;
    color: #FFF;
    font-size: 25px;
}

    .htl_view i {
        margin-left: 13px;
        margin-top: 7px;
    }

.map_filter {
    width: 100%;
    float: left;
    border-bottom: 1px solid #efefef;
    padding: 3px 0px;
    margin-bottom: 10px;
    position: relative;
}

.srch_filter {
    width: 100%;
    height: 33px;
    float: left;
    background: #FFF;
    border: none;
    padding: 0px 50px 0px 10px;
    font-size: 11px;
}

.mode_change {
    width: 40px;
    height: 40px;
    float: right;
    background: #23a7de;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0;
    color: #FFF;
    font-size: 25px;
    border-right: 1px solid #23a7de;
}

    .mode_change:hover {
        background: #0487bd;
    }

.web_view:hover {
    background: #cc5300;
}

.print_view {
}

.htl_view:hover {
    background: #cc5300;
}

.globe_view:hover {
    background: #cc5300;
}

.mode_change i {
    margin-left: 11px;
    margin-top: 7px;
    font-size: 18px;
}

.hotel_map_list {
    width: 100%;
    float: left;
}

    .hotel_map_list ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        height: 599px;
    }

        .hotel_map_list ul li {
            width: 100%;
            float: left;
            padding: 5px;
            border-bottom: 1px solid #efefef;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;
        }

            .hotel_map_list ul li:hover {
                background: #0000001f;
            }

.list_htlImg {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 6px;
}

    .list_htlImg img {
        width: 70px;
        height: 70px;
    }

.hotel_map_list ul li h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #313131;
    font-weight: normal;
    margin-bottom: 5px;
}

.hotel_map_list ul li h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #c53919;
    font-weight: 700;
}

.direction_btn {
    width: 100%;
    float: left;
    padding-top: 5px;
    border-top: 1px solid #00000012;
}

.direction_btn1 {
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #867847;
    padding: 4px 0px;
    float: left;
    border: none;
}

.direction_btn2 {
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #867847;
    padding: 4px 0px;
    float: right;
    border: none;
}

.get_direction {
    width: 100%;
    float: left;
    padding: 10px;
    background: #1693c7;
    display: none;
}

.get_direction_navs {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff30;
    padding-bottom: 7px;
}

    .get_direction_navs label {
        width: 30px;
        height: 30px;
        background: #00000052;
        border-radius: 50%;
        color: #FFF;
        text-align: center;
        line-height: 30px;
    }

    .get_direction_navs a {
        padding: 5px 12px;
        float: right;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #FFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
        margin-left: 2px;
    }

        .get_direction_navs a:hover {
            background: #82daff;
        }

.get_direction_txt {
    width: 100%;
    float: left;
}

.fm_direction {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .fm_direction i {
        color: #FFF;
        font-size: 16px;
        position: absolute;
        left: 8px;
        top: 8px;
    }

.txt_direction1 {
    width: 100%;
    float: left;
    height: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff82;
    color: #FFF;
    font-size: 13px;
}

.to_direction {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .to_direction i {
        color: #FFF;
        font-size: 19px;
        position: absolute;
        left: 9px;
        top: 6px;
    }

.txt_direction2 {
    width: 100%;
    float: left;
    height: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff82;
    color: #FFF;
    font-size: 13px;
}

.line_direction {
    width: 100%;
    height: 19px;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .line_direction i {
        color: #FFF;
        font-size: 19px;
        position: absolute;
        left: 13px;
        top: 3px;
    }

.desti_place::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.mapbtn {
    width: auto;
    height: auto;
    float: left;
    margin-right: 4px;
}

    .mapbtn input[type=radio] + label.btn {
        padding: 0px;
        margin: 0px;
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: normal;
        display: inline-block;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: #fff;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border: none;
        border-radius: 50% !important;
        cursor: pointer;
        border: none !important;
    }

        .mapbtn input[type=radio] + label.btn:hover {
            background: #82daff;
            border-radius: 3px;
            color: #FFF !important;
        }

    .mapbtn input[type=radio]:checked + label.btn {
        background: #82daff;
        border-radius: 3px;
    }

    .mapbtn i {
        position: absolute;
        color: #FFF;
        left: 0px;
        top: 9px;
        width: 30px;
    }

.web_view {
    width: 40px;
    height: 40px;
    float: right;
    background: #f2751f;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: 41px;
    color: #FFF;
    font-size: 25px;
}

    .web_view i {
        margin-left: 9px;
        margin-top: 7px;
    }

.print_view {
    width: 40px;
    height: 40px;
    float: right;
    background: #51355e;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: 123px;
    color: #FFF;
    font-size: 25px;
}

    .print_view i {
        margin-left: 9px;
        margin-top: 7px;
    }

.globe_view {
    width: 40px;
    height: 40px;
    float: right;
    background: #f2751f;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: 82px;
    color: #FFF;
    font-size: 25px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .globe_view i {
        margin-left: 9px;
        margin-top: 7px;
    }

.point_int {
    width: 100%;
    height: 599px;
    float: left;
    display: none;
}
/* nav menu styles */
#nav {
    display: block;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    margin-top: -10px;
}

    #nav li {
    }

    #nav > li > a {
        display: block;
        padding: 6px 12px;
        font-size: 12px;
        color: #d4d4d4;
        text-decoration: none;
        border-bottom: 1px solid #67718c;
        background: #464f69;
    }

        #nav > li > a:hover, #nav > li > a.open {
            color: #e9e9e9;
            border-bottom-color: #384f76;
            background: #859ad4;
        }

    #nav li ul {
        display: none;
        background: #5972b9;
    }

        #nav li ul li a {
            display: block;
            background: none;
            padding: 4px 0px;
            padding-left: 26px;
            font-size: 12px;
            text-decoration: none;
            color: #e3e7f1;
        }

            #nav li ul li a:hover {
                background: #394963;
            }

    #nav > li > a i {
        float: right;
        margin-top: 1px;
        font-size: 15px;
        margin-right: -5px;
    }

.hotels_Q_list {
    width: 100%;
    float: left;
}

.h_list_head {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #074774;
    font-weight: 600;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3) !important;
    margin-bottom: 6px;
    padding-bottom: 7px;
}

.h_list_area {
    width: 100%;
    float: left;
}

    .h_list_area ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .h_list_area ul li {
            width: 100%;
            float: left;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #10252e;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
        }

            .h_list_area ul li span {
                padding-left: 16px;
            }

            .h_list_area ul li::before {
                content: "\f0f7";
                font-family: FontAwesome;
                font-size: 14px;
                color: #fa460d;
                position: absolute;
                left: 0px;
                top: -1px;
            }

            .h_list_area ul li ul {
                padding-top: 2px;
                border-top: 1px dashed #e8e8e8;
                margin-top: 11px;
            }

                .h_list_area ul li ul li {
                    width: 100%;
                    float: left;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 12px;
                    color: #10252e;
                    font-weight: 400;
                    position: relative;
                    padding: 5px 0px 5px 13px;
                    border-bottom: 1px dashed #e8e8e8;
                }

                    .h_list_area ul li ul li::before {
                        content: "\f101";
                        font-family: FontAwesome;
                        font-size: 14px;
                        color: #fa460d;
                        position: absolute;
                        left: 0px;
                        top: 3px;
                    }

                    .h_list_area ul li ul li i {
                        font-size: 15px;
                        float: right;
                        color: #bbb8b8;
                        cursor: pointer;
                        top: 6px;
                        position: absolute;
                        right: 0;
                        -webkit-transition: all .3s ease;
                        -moz-transition: all .3s ease;
                        -ms-transition: all .3s ease;
                        -o-transition: all .3s ease;
                        transition: all .3s ease;
                    }

                        .h_list_area ul li ul li i:hover {
                            color: #777777;
                        }

            .h_list_area ul li i {
                font-size: 15px;
                float: right;
                color: #fa460d;
                cursor: pointer;
                top: 4px;
                position: absolute;
                right: 0;
            }

                .h_list_area ul li i:hover {
                    color: #ff0000;
                }


.htlsend {
    float: right;
    cursor: pointer;
    padding: 4px 12px;
    display: block;
    background: #2199d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 3px;
}

    .htlsend:hover {
        background: #0b7bb3;
        color: #FFF;
    }

.clearall {
    float: left;
    cursor: pointer;
    padding: 4px 12px;
    display: block;
    background: #2199d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 3px;
}

    .clearall:hover {
        background: #0b7bb3;
        color: #FFF;
    }


.form_text {
    width: 100%;
    float: left;
}

.tetxt label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    padding-right: 5px;
    min-width: 100%;
    margin-top: 3px;
    float: left;
}

.qtxt {
    width: 100%;
    height: 30px;
    float: left;
    border: 1px solid #ccc;
}

.ckeditor {
    width: 100% !important;
    float: left !important;
}
/*end*/
@media only screen and (min-width: 450px) and (max-width: 768px) {
    .hotel_left_area {
        width: 100%;
        padding-bottom: 10px;
    }

    .hotel_room_details div:not(:first-child) {
        display: none;
    }

    .status_area {
        padding-top: 6px;
        width: 30%;
        float: left;
        padding-left: 0;
        padding-bottom: 8px;
    }

    .cost_area {
        width: 40%;
        float: left;
        margin-bottom: 5px;
    }

    .book_button {
        width: 30%;
        float: left;
    }

        .book_button a {
            float: right;
        }

    .info_txt01 {
        padding: 0px;
        color: #c57a2b;
    }

    .info_txt02 {
        padding: 0px;
        margin-bottom: 10px;
    }

    ul.tab-links li a p {
        width: 100%;
        text-align: center;
    }

    ul.tab-links li a {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) and (min-width: 200px) {
    .mb_more {
        display: block;
    }

    .hotel_img {
        width: 100%;
        margin-bottom: 10px;
    }

        .hotel_img img {
            width: 100%;
        }

    .hotel_dis {
        width: 100%;
    }

    .tab-links a {
        padding: 5px 13px;
        width: 100%;
    }

    .tab-links li {
        margin: 0px 0px 0px 0px;
        float: left;
        list-style: none;
        width: 100%;
    }

    ul.tab-links li {
        width: 33%;
    }

    .tab-links a {
        border-radius: 0px;
    }

    .hotel_room_details div:not(:first-child) {
        display: none;
    }

    .hotel_left_area {
        width: 100%;
        padding-bottom: 10px;
    }

    .status_area {
        padding-top: 6px;
        width: 100%;
        float: left;
        padding-left: 0;
        padding-bottom: 8px;
    }

    .cost_area {
        width: 60%;
        float: left;
        margin-bottom: 5px;
        padding-left: 0px;
    }

    .book_button {
        width: 40%;
        float: right;
    }

    ul.tab-links li a p {
        width: 100%;
        text-align: center;
    }

    ul.tab-links li a {
        text-align: center;
    }

    .hotel_img {
        max-height: none;
    }

    .hotel_aminities ul li {
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
        border-right: none;
    }
}

@media only screen and (max-width: 990px) and (min-width: 200px) {
    .info_txt {
        padding: 4px 0px 4px 0px;
    }
}

@media only screen and (max-width: 660px) and (min-width: 200px) {
    .hotel_name {
        width: 100%;
    }

    .hotelloadingpc {
        display: none;
    }

    .hotelloadingmobile {
        display: block;
    }

    .available {
        margin-right: 0px;
        margin-top: 0px !important;
    }

    .hotelstatus_OR {
        margin-right: 0px;
        margin-top: 3px !important;
    }

    .hotel_place {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
    .hotel_place {
        width: 50%;
    }

    .hotel_price {
        width: 50%;
        text-align: right;
    }

    .available {
        width: 100%;
        text-align: center;
        margin-bottom: 5px !important;
    }

    .more_view_click {
        width: 100% !important;
    }

    .more_view_click01 {
        width: 100% !important;
    }

    .more_search {
        margin-left: 0px !important;
        width: 100%;
        margin-top: 5px;
    }

    .more_view_click i, .more_view_click01 i {
        float: right !important;
        margin-top: 3px;
    }


    .hotelstatus_OR {
        width: 100%;
        text-align: center;
    }

    .hotel_type_area div:first-child {
        width: 100%;
        padding: 0px;
        margin-bottom: 6px;
    }

    .hotel_type_area div:nth-child(2n) {
        width: 30%;
        padding-left: 0px;
    }

    .hotel_type_area div:nth-child(3n) {
        width: 15%;
    }

    .hotel_type_area div:nth-child(4n) {
        width: 25%;
    }

    .hotel_type_area div:nth-child(5n) {
        width: 30%;
    }

    .hotel_type h5 {
        text-align: left;
    }

    .hotel_type_area {
        padding: 5px 0px;
    }

    .no_data img {
        float: none;
    }

    .no_data {
        text-align: center;
        padding-bottom: 15px;
    }

        .no_data p {
            padding-top: 10px;
            text-align: center;
            line-height: 33px;
            padding: 0px 10px;
        }

    .hotel_type h4 {
        text-align: justify;
    }
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
    .hotel_mobile_info {
        display: block;
    }
}

@media only screen and (max-width: 707px) and (min-width: 200px) {
    .available {
        margin-right: 0px;
    }

    .hotelstatus_OR {
        margin-right: 0px;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .hotel_name {
        width: 42%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 706px) {
    .available {
        margin-right: 0;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .hotelstatus_OR {
        margin-right: 0;
        margin-top: 3px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 200px) {
    .flight_rate_area {
        display: block !important;
    }

    .cmn_box_section {
        min-height: 10px;
    }

    .flight_rate_area a.MoreDetHotClick {
        display: none !important;
    }

    .rate_area01 h3 {
        float: left;
        margin-top: 6px;
        margin-right: 5px;
    }

    .rate_area01 h4 {
        float: left;
    }

    .rate_area01 {
        width: 100%;
        min-width: 128px;
    }

    .more_search {
        margin-top: 0px;
        padding: 0px 25px;
        margin-left: 5px;
        height: 30px;
        background: #b19c53;
        float: left;
    }

        .more_search:hover {
            background: #2e475d;
        }

    .more_view_click01 {
        float: left;
    }

    .more_view_click {
        float: left;
    }
}

@media only screen and (max-width: 640px) and (min-width: 200px) {
    .dataTables_wrapper .dataTables_length {
        text-align: left !important;
    }

    .dataTables_wrapper .dataTables_filter {
        float: left !important;
        margin-left: 9px;
    }
}


@media only screen and (min-width: 990px) and (max-width: 1200px) {
    .modify_details_left {
        width: auto;
    }

    .datepax_area {
        width: 65%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 990px) {
    .top_details {
        display: none;
    }
}

@media only screen and (min-width: 200px) and (max-width: 706px) {
    .available {
        margin-right: 0;
        margin-top: 2px;
        margin-bottom: 0px;
        padding: 5px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 750px) {
    .hotel_banner {
        display: none;
    }
}
/*srf*/
.cart_sec {
    width: 100%;
    float: left;
}

    .cart_sec ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

        .cart_sec ul li {
            width: 100%;
            float: left;
            margin-bottom: 8px;
            padding: 10px;
            border: 1px solid #d8d8d8;
            background: #FFF;
            position: relative;
        }

            .cart_sec ul li p {
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: #4c4c4c;
                padding: 5px 0px;
            }

.cartImg {
    width: 204px;
    float: left;
    margin-right: 14px;
    height: 152px;
}

    .cartImg img {
        width: 100%;
        height: 100%;
    }

.cart_btns {
    width: 100%;
    float: left;
    margin-bottom: 12px;
}

.mail_send {
    padding: 12px 13px;
    display: block;
    float: right;
    background: #fd6d21;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .mail_send:hover {
        color: #FFF;
        background: #e05810;
    }

.download_btnCart {
    padding: 12px 13px;
    display: block;
    float: right;
    background: #fd6d21;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    .download_btnCart:hover {
        color: #FFF;
        background: #e05810;
    }

.cart_sec ul li h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #0f225b;
    margin-bottom: 5px;
    font-weight: bold;
}

.cart_sec ul li h6 {
    margin-bottom: 10px;
}

    .cart_sec ul li h6 i {
        color: #e34913;
        font-size: 16px;
    }

.cart_sec ul li h4 {
    position: absolute;
    right: 41px;
    top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #d15410;
    margin-bottom: 5px;
    font-weight: bold;
}

.cart_close {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #eb0e0e;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

    .cart_close i {
        margin-top: 5px;
        font-size: 16px;
    }

.cart_table {
    width: 100%;
    border-color: #aca591;
}

    .cart_table tr td {
        border-collapse: collapse;
        padding: 5px;
    }

    .cart_table tr th {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #3e3b34;
        background: #c5bda6;
        padding: 9px 5px;
    }

    .cart_table tr td {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #3e3b34;
        padding: 5px;
    }

.tble_crt {
    display: -webkit-box;
}

@media only screen and (min-width: 200px) and (max-width: 640px) {
    .cartImg {
        width: 100%;
        margin-bottom: 12px;
    }

    .cart_sec ul li h4 {
        position: relative;
        float: right;
        right: 0;
    }
}

.showall {
    width: auto;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2f2f2f;
    cursor: pointer;
    position: relative;
    right: 41px;
    top: 6px;
    font-weight: 400;
    z-index: 99;
}
