﻿@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.cover_level_area{width:100%;float:left;}
.cover_level_area h1{font-family: 'Open Sans', sans-serif; font-size: 16px; color: #2e475d; font-weight: 700; margin-bottom: 10px;float:left;}
.sendbtn5 {padding-right: 0px;}
.cover_area{width:100%;float:left;padding:15px;}
.cover_brder{border:1px solid #2e475d;min-height:100px;width:100%;float:left;background:#a0c9f9;}
.cover_active{background:#0059c0;}
.cover_head{width:100%;float:left;padding: 12px 0px;}
.cover_head h3{text-align:center;font-family: 'Open Sans', sans-serif; font-size: 16px; color: #FFF; font-weight: 500;margin-bottom:5px;}
.cover_head h4{text-align:center;font-family: 'Open Sans', sans-serif; font-size: 22px; color: #FFF; font-weight: 600;}
.cover_head h4 span{font-size:14px;}
.cover_details{width:100%;float:left;padding:10px 0px;background:#FFF;}
.label_txt{font-family: 'Open Sans', sans-serif; font-size: 12px; color: #2e475d; font-weight: 600;margin-bottom:14px;}
.amount_txt{font-family: 'Open Sans', sans-serif; font-size: 12px; color: #2e475d; font-weight: 600;text-align:right;margin-bottom:14px; padding-left: 5px;}
.benefit a{padding:0px 10px;display:block;font-family: 'Open Sans', sans-serif; font-size: 13px;color:#FFF;height:30px;float:left;background:#ab9858;line-height:30px;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;border-radius: 3px;}
.benefit a:hover{background:#736433;}
.select_btn a{padding:0px 10px;display:block;font-family: 'Open Sans', sans-serif; font-size: 13px;color:#FFF;height:30px;float:right;background:#2e475d;line-height:30px;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;border-radius: 3px;cursor:pointer;}
.select_btn a:hover{background:#3f5f7b;}
.select_btn a i{font-size: 14px; margin-left: 6px;}
.bluehash_color{background: #c1b899 !important;border: 1px solid #c1b899;}
.blue_color{border: 1px solid #2e475d;}
.btm{margin-bottom:10px;}
.additional_cover{width:100%;float:left;padding-top: 10px;}
.additional_cover h3{font-family: 'Open Sans', sans-serif; font-size: 16px; color: #0059c0; font-weight: 700; margin-bottom: 10px;}
.additional_cover_area{width:100%;float:left;padding:15px;border: 1px solid #0059c0;}
.cover_additional_area01{font-family: 'Open Sans', sans-serif; font-size: 13px; color: #2e475d; font-weight: 400; margin-bottom: 5px; margin-top: 5px;}
.cover_additional_area01 label{font-weight:400;}
.cover_additional_area01 img{float:left;}
.btns_area{padding-top: 12px; border-top: 1px solid rgba(0, 0, 0, 0.09); margin-top: 13px;}
.cancelation_btn5{float:left;}
.cancelation_btn5 a{padding: 0px 10px; display: block; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #FFF; height: 30px; float: left; background:#a99960; line-height: 30px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; border-radius: 3px;}
.cancelation_btn5 a:hover{background:#82723c;}
.cancelation_btn5 a i{font-size: 14px;margin-left: 6px;}
.btns_area8{float:right;}
.btns_area8 ul{margin:0px;padding:0px;list-style:none;}
.btns_area8 ul li{float:left;margin-left:6px;}
.btns_area8 ul li a{padding: 0px 10px; display: block; font-family: 'Open Sans', sans-serif; font-size: 13px; color: #FFF; height: 30px; float: left; background: #2e475d; line-height: 30px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; border-radius: 3px;}
.btns_area8 ul li a:hover{background:#436788;}
.btns_area8 ul li a i{margin-left:6px;}
.tbl5 table tr th{font-family: 'Open Sans', sans-serif; font-size: 14px; color: #2e475d; font-weight: 700; margin-bottom: 14px; padding-bottom: 5px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.tbl5 table tr td{font-family: 'Open Sans', sans-serif; font-size: 13px; color: #5a5a5a; font-weight: 400; margin-bottom: 14px; padding-bottom: 5px; padding-top:5px; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.tbl6 p{font-family: 'Open Sans', sans-serif; font-size: 13px; color: #5a5a5a; font-weight: 400; margin-bottom: 5px;}
.tbl6 h4{font-family: 'Open Sans', sans-serif; font-size: 20px; color: #2f3292; font-weight: 400; margin-bottom: 5px;padding-top:5px;}
.tbl6 ul{margin:0px;padding:0px;list-style:disc; padding-left: 17px;padding-top:10px;}
.tbl6 ul li{font-family: 'Open Sans', sans-serif; font-size: 13px; color: #5a5a5a; font-weight: 400; margin-bottom: 5px;}
.group_area ul{margin:0px;padding:0px;list-style:none;}
.group_area ul li{width:15.8%;float:left; min-height:155px;border:1px solid #e3e3e3;background:#0000004a;padding:8px;text-align:center;margin-right:1%;position:relative;cursor:pointer;transition: all linear 0.15s;}
.group_area ul li img{margin-bottom: 5px;}
.group_area ul li p{font-family: 'Open Sans', sans-serif;font-size: 12px;color: #FFF;}
.group_area ul li:last-child{margin-right:0px;}
.desti_active{width:21px;height:21px;background:url(../images/active.png) no-repeat right top; position:absolute;right: -3px !important; top: -9px !important; font-size: 19px !important;}
.group_area ul li:hover{background: #f1f1f1;}
.group_area ul li:hover p{color:#3e4762;}
.group_area ul li span{position:absolute;width:107%;height:103%;right: 0px; top: 0px;}
.airport_dtls{display:none;}
.airport_dtls a{font-family: 'Open Sans', sans-serif; font-size: 12px; float: right; color: #FFF; margin-top: 6px;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.airport_dtls a:hover{color:#f99c1b;}
.infopopup i{color: #f99c1b; font-size: 13px; margin-left: 4px;}
.info_txt { font-family: 'Open Sans', sans-serif; font-size: 14px; color: #2e475d; font-weight: 600; padding: 4px 30px 4px 0px; }
.adtle{font-family: 'Open Sans', sans-serif; font-size: 14px; color: #2e475d; font-weight: 600; padding-left: 7px; padding: 8px; border: 1px dashed #d8d6d6; margin-bottom: 9px;}


/*COMMAN ADD CSS*/
.top_details{width:100%;float:left;background:rgba(201, 129, 51, 0.81);border-top:1px solid #FFF;}
.modify_details_left{width:38%;float:left; border-right: 1px solid #a76824;}
.desti_name{width:42%;float:left;padding: 8px 0px;}
.desti_name h3{font-family: 'Open Sans', sans-serif; font-weight: 700; color: #FFF; font-size: 19px;}
.desti_name h3 span{font-weight:600;font-size:14px;}
.desti_name p{font-family: 'Open Sans', sans-serif; font-weight: 400; color: #ffcb93; font-size: 13px;}
.desti_icon{padding:12px 20px;float:left;}
.datepax_area{width:61%;float:left;}
.firstpax_area{width:80%;float:left;}
.date_area_pax{width:100%;color:#ffcb93;padding-left: 10px; padding-top: 8px;font-family: 'Open Sans', sans-serif; font-weight: 400;font-size: 13px;}
.date_area_pax span{color:#FFF; font-weight: 600;font-size: 14px; padding: 0px 5px;}
.paxNums{width:100%;float:left;font-family: 'Open Sans', sans-serif; font-weight: 400;font-size: 13px;color:#fbc387;padding-left: 10px;}
.paxNums span{color:#FFF; font-weight: 600;font-size: 14px; padding: 0px 5px;}
.datepax_area a{float: right; padding: 0px 8px; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 13px; color: #2f3292; background: #FFF; border-radius: 3px; height: 27px; line-height: 26px; margin-top: 13px;transition: all linear 0.15s;}
.datepax_area a:hover{background: #dcdcdc;}
/*COMMAN  ADD CSS CLOSE*/
.cover_additional_area01 i{font-size: 15px;margin-left: 4px;color: #a2904f;}
.headpolicy{width:100%;background:#867747;padding:5px 10px;float:left;margin-bottom:5px;}
.headpolicy h4{font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 20px;color:#FFF;float:left;}
.headpolicy h5{font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 20px;color:#FFF;float:right;}
.headpolicy h5 span{font-size:18px;}
.label_txt tr td{padding:6px 0px 6px 4px; color: #9c9c9c;}
.label_txt tr{border:1px solid #e3e3e3;}
.payable_title{font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 18px; color: #867747; float: left;text-align:right;}
.cover_view_dr h3{font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 15px; color: #3e3a69; margin-bottom: 4px; margin-top: 6px; }
.insurance_bottom {width:100%;float:left;}




@media only screen and (min-width: 320px) and (max-width: 630px) {
.cancelation_btn5{float:left;width:100%;margin-bottom:5px;}
.cancelation_btn5 a{width:100%;}
.cancelation_btn5 a i{float:right; margin-top: 7px;}
.btns_area8{float:right;width:100%;}
.btns_area8 ul li{width:100%;margin-left:0px;margin-bottom:5px;}
.btns_area8 ul li a{width:100%;}
.btns_area8 ul li a i{float:right; margin-top: 7px;}

}
@media only screen and (min-width: 620px) and (max-width: 1200px) {
.group_area ul li {min-height: 144px;}
}
@media only screen and (min-width: 440px) and (max-width: 620px) {
.group_area ul li {width: 32%;min-height: 144px;margin-bottom: 13px;}
}
@media only screen and (min-width: 380px) and (max-width: 440px) {
.group_area ul li {width: 49%;min-height: 143px;margin-bottom: 13px;}
}
@media only screen and (min-width: 320px) and (max-width: 380px) {
.group_area ul li {width: 100%;min-height: 10px;margin-bottom: 13px;}
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
.modify_details_left {width: 43%;}
.datepax_area {width: 56%;}
}
@media only screen and (min-width: 800px) and (max-width: 990px) {
.modify_details_left { width: 100%; float: left; border-right: none; border-bottom: 1px solid #a76824; }
.datepax_area { width: 100%; float: left; }
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
.top_details{display:none;}
}