.holder {
	margin: 0px 0px 0 0;
	float: right;
}
.holder a {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	cursor: pointer;
	color: #FFF;
	width:24px;
	height:24px;
	float:left;
	text-align:center;
	line-height:24px;
	margin-left: 2px;
	background:#269fee;
}
.holder a:hover {
	background-color: #82c0e6;
	color: #FFF;
}
.holder a.jp-previous {
	width:24px;
	height:24px;
	float:left;
	display:block;
	background:url(../images/prev01.png) no-repeat;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.holder a.jp-previous:hover {
	background:url(../images/prev01_hvr.png) no-repeat;
}
.holder a.jp-next {
	/*margin-left: 15px;*/
	width:24px;
	height:24px;
	float:left;
	display:block;
	background:url(../images/next01.png) no-repeat;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.holder a.jp-next:hover {
	background:url(../images/next01_hvr.png) no-repeat;
}
.holder a.jp-current, a.jp-current:hover {
	color: #FFF;
	font-weight:normal;
}
/*.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
	font-weight:normal;
}*/
.holder a.jp-current, a.jp-current:hover/*,  .holder a.jp-disabled, a.jp-disabled:hover*/ {
	cursor: default;
	width:24px;
	height:24px;
	background:#82c0e6;
}
.holder span {
	margin: 0 5px;
	float: left;
	height: 33px;
	line-height: 35px;
}