﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@font-face {
    font-family: 'CenturyGothic-Regular';
    src: url('CenturyGothic_gdi.eot');
    src: url('CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('CenturyGothic_gdi.woff') format('woff'), url('CenturyGothic_gdi.ttf') format('truetype'), url('CenturyGothic_gdi.otf') format('opentype'), url('CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}
/*COMMAN ADD CSS*/
.top_details{width:100%;float:left;background:#b3a36a;border-top:1px solid #FFF;}
.modify_details_left{width:100%;float:left; margin-top: 23px;}
.desti_name{width:auto;float:left;padding: 8px 0px;}
.desti_name h3{    font-family: 'CenturyGothic-Regular'; font-weight: 700; color: #FFF; font-size: 15px;}
.desti_name h3 span{font-weight:400;font-size:25px;}
.desti_name p{    font-family: 'CenturyGothic-Regular'; font-weight: 400; color: #ffcb93; font-size: 13px;}
.desti_icon{padding:8px 20px;float:left;}
.datepax_area{width:100%;float:left;}
.firstpax_area{width:100%;float:left;}
.date_area_pax{width:100%;color:#FFF;padding-left: 0px; padding-top: 8px;font-family: 'Open Sans', sans-serif; font-weight: 400;font-size: 22px;}
.date_area_pax span{color:#FFF; font-weight: 600;font-size: 14px; padding: 0px 5px;}
.paxNums{width:100%;float:left;    font-family: 'CenturyGothic-Regular'; font-weight: 400;font-size: 13px;color:#fbc387;padding-left: 10px;}
.paxNums span{color:#FFF; font-weight: 600;font-size: 14px; padding: 0px 5px;}
.top_details a{float: right; padding: 0px 8px;     font-family: 'CenturyGothic-Regular'; font-weight: 400; font-size: 13px; color: #806a75; background: #FFF; border-radius: 3px; height: 27px; line-height: 26px; margin-top: 4px;margin-bottom:4px;transition: all linear 0.15s;}
.top_details a:hover{background: #dcdcdc;}
.fix_header {position: fixed;z-index: 999999999;}
.icn_htl {margin-right: 6px;margin-left: 8px;}
.result_banner a{    font-family: 'CenturyGothic-Regular'; font-weight: 400; color: #FFF; font-size: 13px; border: 1px solid #b3a36a; border-radius: 15px; float: left; padding: 6px 29px; margin-top: 12px;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.result_banner a:hover{background:#b3a36a;}
/*COMMAN  ADD CSS CLOSE*/

@media only screen and (min-width: 800px) and (max-width: 990px) {
.modify_details_left { width: 100%; float: left; border-right: none; }
.datepax_area { width: 100%; float: left; }
.top_details{display:none !important;}
}
@media only screen and (min-width: 320px) and (max-width: 800px) {
.top_details{display:none;}
}
@media only screen and (min-width: 320px) and (max-width: 750px) {
.result_banner{
    display:none;
}
}