﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@charset "utf-8";
img, object, embed, video {
	max-width: 100%
}
.ie6 img {
	width: 100%
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: none
}
a {
	text-decoration: none;
	outline: none!important
}
::-moz-selection {
background-color:#dfdae6;
color:#FFF;
}
::selection {
	background-color: #dfdae6;
	color: #FFF;
}
.browser-warning {
	display: none;
	background: yellow;
	width: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #000;
}
.browser-warning a {
	color: red;
}
/* Target old browsers with modernizr */
.oldie .browser-warning {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	background: #dfdae6;
	
}
.wrapper {
	width: 100%;
	height: auto;
	float: left
}
.cmn_mid {
	width: 95%;
	max-width: 1143px;
	height: auto;
	margin: auto
}
.cmn_left {
	width: 100%;
	height: auto;
	float: left
}
header {
	width: 100%;
	min-height: 61px;
	float: left;
	background: #2f3292;
}
.main_header {
	width: 100%;
	height: auto;
	float: left;
}
.logo_area {
	width: auto;
	height: auto;
	float: left;
	padding: 9px 0px;
}
.header_menu {
	width: 300px;
	height: auto;
	float: left;
	margin-top: 18px;
	margin-left: 110px;
}
.header_menu ul {
	margin: auto;
	padding: 0px;
	list-style: none;
}
.header_menu ul li {
	height: 27px;
	float: left;
	margin-right: 18px;
}
.flight_icon {
	background: url(../images/flight.png) no-repeat left top;
	padding-left: 32px;
}
.hotel_icon {
	background: url(../images/hotel.png) no-repeat left top;
	padding-left: 32px;
}
.car_icon {
	background: url(../images/car.png) no-repeat left top;
	padding-left: 25px;
}
.header_menu ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #FFF;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	line-height: 22px;
}
.header_menu ul li a:hover, .header_menu ul li.active a {
	font-weight: bold;
	border-bottom: 2px solid #FFF;
}
.user-menu {
	background: #f9f9f9 url(../images/user_dwn.png) no-repeat right;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	width: 188px;
	margin: 5px 0 0 0;
}
.user-info {
	padding: 4px 9px;
}
.profile-img {
	background-color: #d1d1e7;
	background-position: center bottom;
	background-repeat: no-repeat;
	border-radius: 50%;
	float: left;
	height: 38px;
	vertical-align: middle;
	width: 38px;
}
.user-info h3, .user-info h4 {
	font-family: 'Open Sans', sans-serif;
	color: #2f3292;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding-left: 20px;
}
.user-info h3, .user-info h4 {
	font-family: 'Open Sans', sans-serif;
	color: #2f3292;
	display: inline-block;
	font-size: 14px;
	margin: 0;
	padding-left: 20px;
}
.user-info h3 span{
	font-weight:700;
}
.profile_view_toggle {
	display: none;
	width: 187px;
	height: auto;
	background: #FFF;
	border-radius: 4px;
	position: absolute;
	margin-top: 3px;
	box-shadow: 0px 0px 5px #cac3d4;
	z-index: 99999999;
}
.list_first {
	width: 100%;
	height: auto;
	float: left;
	padding: 12px;
	border-bottom: 1px solid #a5a6cf;
}
.list_first ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.list_first ul li {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.list_first ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #2f3292;
	text-align: right;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.list_first ul li a:hover {
	color: #373de4;
}
.list_first01 {
	width: 100%;
	height: auto;
	float: left;
	padding: 12px;
}
.list_first01 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.list_first01 ul li {
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.list_first01 ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #2f3292;
	text-align: right;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.list_first01 ul li a:hover {
	color: #373de4;
}
.profile_view {
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.profile_view:hover {
	background: #e2d9ef url(../images/user_dwn.png) no-repeat right;
}
.main_cont_area {
	width: 100%;
	min-height: 100px;
	float: left;
	padding: 20px 0px;
}
footer {
	width: 100%;
	height: auto;
	float: left;
}
.footer_first_area {
	width: 100%;
	height: auto;
	float: left;
	padding: 20px 0px;
	background: #2f3292;
}
.footer_one {
	width: 100%;
	height: auto;
	float: left;
}
.footer_one h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #FFF;
	font-weight: 700;
	margin-bottom:20px;
}
.bold {
	font-weight: 700;
}
.size18 {
	font-size: 18px;
}
ul.gettoknow li::before {
	content: "";
	background: #fff;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 8px;
}
ul.gettoknow{
	margin:0px;
	padding:0px;
	list-style:none;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

ul.usefulllinks a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #ffffff;
	line-height: 22px;
    display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul.usefulllinks a:hover{
	color:#cca75b;
}
ul.usefulllinks{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul.usefulllinks li {
	margin: 4px 25px;
}
.no_padding{
	padding:0px;
}
.footer-icon {
    margin: 20px auto;
}
.footer-icon a i {
    background: #fff;
    border-radius: 4px;
    color: #587ba4;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
    margin: 0 5px;
    -webkit-transition: .36s;
    transition: .36s;
    overflow: hidden;
}
.footer-icon a i:hover{
    background: #cca75b;
    color: #ffffff;
}
.footer_explore_area{
	width:100%;
	height:auto;
	float:left;
	padding:20px 0px;
	background:#24266f;
}
.footer_explore_area h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 20px;
}
.half_area{
	width:50%;
	height:auto;
	float:left;
	padding-right:16px;
}
.half_area:last-child{
	padding-right:0px;
}
.half_area h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #FFF;
    font-weight: 700;
	border-bottom:2px solid #cca75b;
	padding-bottom:12px;
	margin-bottom:20px;
}
.half_area ul{
	width:33.33%;
	margin:0px;
	padding:0px;
	list-style:none;
	float:left;
}
.half_area ul li{
	width:100%;
	float:left;
}

.half_area ul li a{
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	font-weight: 300;
	display:block;
	padding:6px 0px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.half_area ul li a:hover{
	color:#cca75b;
}
.footer_bottom_sec{
	width:100%;
	height:auto;
	float:left;
	padding:20px 0px;
	background:#2f3292;
}
.thirdbelt {
	float: left;
    width: 100%;
    color: #fff;
    background: #2f3292;
    padding: 30px 0;
    font-size: 12px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
    font-weight:600;
}
.light{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	font-size: 12px;
}
footer hr.last {
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #8284be;
    width: 25%;
}
.cmn_links_foo{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:10px;
	padding-left:
}
.cmn_links_foo h2::before {
    content: "";
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 8px;
}
.cmn_links_foo h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
    font-weight: 700;
    color: #ffffff;
	float:left;
	min-width:135px;
}
.cmn_links_foo ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.cmn_links_foo ul li{
	float:left;
}
.cmn_links_foo ul li a{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
    font-weight: 300;
    color: #ffffff;
	padding: 0px 9px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.cmn_links_foo ul li a:hover{
	color: #cca75b;
}
.brdr_dwn01{
	border-bottom:1px solid #FFF;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.mm-tabstart,mm-search{
	display:none !important;
}
.mm-title{
	display:none !important;
}
.header{
	display:none;
}
.left_menu_sec{
	width:100%;
	height:auto;
	float:left;
	padding:10px;
}
.left_menu_sec ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.left_menu_sec ul li{
	width:100%;
    float: left;
}
.left_menu_sec ul li a{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    line-height: 20px;
}
.left_padding{
	padding-left:34px !important;
}
.icon01{
	background:url(../images/flight.png) no-repeat 0px 10px;
}
.icon02{
	background:url(../images/hotel.png) no-repeat 0px 10px;
}
.icon03{
	background:url(../images/car.png) no-repeat 5px 10px;
}
.left_menus{
	width:100%;
	height:auto;
	float:left;
}
.left_menus ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.left_menus ul li{
	width:100%;
	height:auto;
	float:left;
}
.left_menus ul li a{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF !important;
    text-align: left;
    display: block;
	padding:10px 10px 10px 5px !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.left_menus ul li a img{
	float:left;
	margin-right:10px;
}
.search_result_left{
	width:30%;
	height:auto;
	float:left;
}
.search_result_left h1{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #2f3292;
	font-weight:700;
	margin-bottom:10px;
}
.common-box {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 7px;
    margin-bottom: 10px;
}
.blue-bg {
    background: #2f3292;
}
.common-box .box-head {
    border-radius: 7px 7px 0 0;
    padding: 10px 5px;
}
.common-box .box-head h4 {
    padding: 0;
    margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
.semibold {
    font-weight: 600;
}
.size14 {
    font-size: 14px;
}
.white-color-text {
    color: #fff;
}
.inline-block {
    display: inline-block;
}
.common-box .box-head h4 img {
    margin: 0 15px;
}
.common-box .box-head span {
    margin: 0 10px 0 0;
}
.common-box .box-content {
    padding: 10px;
    min-height: 52px;
}
.flight-date{
	width:100%;
	height:auto;
	float:left;
	border-bottom: 1px solid #ebebeb;
}
.flight-date h5{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	color: #2f3292;
	font-weight:700;
}
.accordion {
  width: 100%;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 5px 0px 5px 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #2f3292;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.sp_font{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #929292;
  font-weight: 600;
}
.sp01{
	left: 0 !important;
    font-size: 14px !important;
    top: 8px !important;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 18px;
  color: #2f3292;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 0px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color:#2f3292 ; }

.accordion li.open i { color:#2f3292 ; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* rangeslider start here */

.noUi-target {
    border-radius: 0;
    box-shadow: none;
    border: 0
}
.noUi-background {
    background: #E2DDE3;
    box-shadow: none
}
.noUi-horizontal {
    height: 6px;
    margin: 0 21px 0 6px;
}
.noUi-horizontal .noUi-handle {
    top: -8px;
    left: -1px
}
.noUi-origin {
    border-radius: 0
}
.noUi-vertical {
    width: 3px
}
.noUi-connect {
    background: #cca75b;
    box-shadow: none
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    width: 21px;
    height: 21px;
    border: 0;
    border-radius: 100%;
    box-shadow: none;
    -webkit-transition: box-shadow;
    -o-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    cursor: pointer;
    position: relative;
    background-color: #e5e5e5;
}
.waves-effect .waves-ripple,
.waves-float {
    -webkit-transition: all;
    -o-transition: all
}
.noUi-horizontal .noUi-handle:after,
.noUi-horizontal .noUi-handle:before,
.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    display: none
}
.noUi-horizontal .noUi-active,
.noUi-vertical .noUi-active {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, .06)
}
.noUi-tooltip {
    border: 0;
    background: #ddd;
    padding: 5px 10px
}
.input-slider-values {
    color: #70635c;
    margin: 13px 0 10px;
    padding: 0 2px;
    font-size: 13px;
}
.form-group {
    margin-bottom: 0px;
    padding-top: 10px;
    width: 100%;
}
.checkBox_area{
	width:100%;
	margin-top: 6px;
}
.checkBox_area label{
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #929292;
    font-weight: 600;
}
.checkBox_area input[type="checkbox"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}
.checkBox_area input[type="checkbox"] + label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: url(../images/radio-checkbox.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.checkBox_area input[type="checkbox"]:checked + label:before {
    background-position: 0 -19px;
}
.checkBox_area input[type="checkbox"] + label:before {
    background-position: 0 0px;
}
.sub_menu_child{
	width:100%;
}
.sub_menu_child h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #2f3292;
    font-weight: 700;
	margin-bottom: 11px;
    margin-top: 9px;
}
.search_result_right{
	width:68%;
	height:auto;
	float:right;
	padding-top: 27px;
}
.sp02{
    margin-right: 9px;
    font-size: 18px !important;
    margin-top: -1px !important;
    float: left;
    margin-left: 10px;
}
.searchsummary{
	width:100%;
	color: #2f3292;
}
.searchsummary ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.searchsummary ul li {
    text-align: center;
    padding: 6px 25px;
    border-right: 1px solid #ececec;
	float:left;
}
.searchsummary ul li div.bl {
    float: left;
}
.searchsummary ul li span:nth-child(1) {
    font-size: 11px;
    font-weight: 300;
}
.searchsummary ul li span {
	font-family: 'Open Sans', sans-serif;
    display: inherit;
	font-weight:600;
}
.searchsummary ul li img {
    margin: 8px 7px;
}
.searchsummary ul li:nth-last-child(1) {
    border: none;
}





/**
 * Submenu
 -----------------------------*/


.submenu {
  display: block;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}
.box-content ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.modify_btn{
	border: 1px solid #000;
    text-transform: capitalize;
    background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	padding: 3px 8px;
	color: #2f3292;
	font-weight:600;
	float: right;
    border-radius: 4px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.modify_btn:hover{
	background-color: #cca75b;
	color: #ffffff;
}
#modify_close_btn{
	border: 1px solid #000;
    text-transform: capitalize;
    background-color: #9495c5;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	padding: 3px 8px;
	color: #FFF;
	font-weight:600;
	float: right;
    border-radius: 4px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	margin-right: 11px;
	display:none;
	cursor:pointer;
}
#modify_close_btn:hover{
	background-color: #cca75b;
	color: #FFF;
}


.simplePopupBackground {
	display: none;
	background: #000;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999999;
}
.simplePopupBackground01 {
    display: none;
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999999;
}
.simplePopupClose{
	display:none;
}
.summary_popup{
	position: relative;
    z-index: 9999999;
}
.summary_filed{
	width: 100%;
}
.input_group_top{
	width:100%;
	float:left;
	border-radius: 5px 5px 0 0;
	background: #FFF;
    border: 1px solid #a3a3a3;
    overflow: hidden;
}
.input_group_top i{
	position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.45);
}
.flight_search{
	width:100%;
	height:35px;
	float:left;
	border:none;
	padding-left: 28px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color: #2f3292;
	font-weight:600;
	line-height:35px;
}
.input_group_bottom{
	width:100%;
	float:left;
	border-radius: 0px 0px 5px 5px;
	background: #FFF;
    border: 1px solid #a3a3a3;
    overflow: hidden;
	border-top:none;
	position:relative;
}
.input_group_bottom i{
	position: absolute;
    margin-top: 9px;
    margin-left: 8px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.45);
}
.flight_search02{
	width:100%;
	height:35px;
	float:left;
	border:none;
	padding-left: 28px;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color: #2f3292;
	font-weight:600;
	line-height:35px;
}
.search_left_date{
	width:100%;
	height:37px;
	border-radius: 5px 5px 0px 0px;
	background: #FFF;
    border: 1px solid #a3a3a3;
	position:relative;
	overflow:hidden;
	float:left;
}
.search_right_date{
	width:100%;
	height:36px;
	border-radius: 0px 0px 5px 5px;
	background: #FFF;
    border: 1px solid #a3a3a3;
	position:relative;
	overflow:hidden;
	float:left;
	border-top:none;
}
.search_date_field{
	width:100%;
	height:100%;
	position:absolute;
	border:none;
	z-index: 10;
    background: none;
	cursor:pointer;
}
.date_format{
	display:block;
	height:100%;
	position:relative;
	padding: 4px;
}
.date_format i{
	margin-top:6px;
}
.mnth_format{
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color: #2f3292;
	font-weight:600;
	text-align:left;
	position: absolute;
    width: auto;
    top: 10px;
    left: 28px;
}
.val_format{
	font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #2f3292;
    font-weight: 600;
    text-align: left;
    position: absolute;
    width: auto;
    top: 2px;
    left: 95px;
}
.date_day_format{
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color: #2f3292;
	font-weight:600;
	text-align:center;
	position: absolute;
    width: auto;
    top: 10px;
	left:129px;
}
.placeholder_area::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #2f3292;
    font-size: 12px;
    font-weight: normal;
}

.placeholder_area:-moz-placeholder {
            /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: #2f3292;
    font-size: 12px;
    font-weight: normal;
}

.placeholder_area::-moz-placeholder {
            /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: #2f3292;
    font-size: 12px;
    font-weight: normal;
}

.placeholder_area:-ms-input-placeholder {
   font-family: 'Open Sans', sans-serif;
   color: #2f3292;
   font-size: 12px;
   font-weight: normal;
}
.class_area{
	width:100%;
	height:35px;
	float:left;
	border:none;
	background:url(../images/flight_selct_arrow_01.png) no-repeat right;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
    font-weight: 600;
	padding-left:10px;
	line-height:35px;
}
.showtravel_area{
	width:100%;
	height:35px;
	float:left;
	border:none;
	background:url(../images/flight_selct_arrow_01.png) no-repeat right;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
    font-weight: 600;
	padding-left:10px;
	line-height:35px;
	cursor:pointer;
}
.travel_details_show{
	width:100%;
	position:absolute;
	text-align:center;
	 background:#FFF;
	 margin-top: 37px;
	 border-radius:4px;
	 border: 1px solid #9699ed;
    padding: 5px;
	display:none;
}
.common_travel{
	width:100%;
	float:left;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
	font-weight: 600;
	margin-bottom: 12px;
}
.left_counter_label{
	width:50%;
	float:left;
}
.left_counter01{
	width:50%;
	float:left;
}
.left_counter01 a{
	cursor:pointer;
}
.left_counter01 span{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
}
.left_counter01 i{
	position: relative;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
    color: #2f3292;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.left_counter01 i:hover{
	color:#cca75b;
}
.class_group_bottom {
    width: 100%;
    float: left;
    border-radius: 0px 0px 5px 5px;
    background: #FFF;
    border: 1px solid #a3a3a3;
    border-top: none;
    position: relative;
}
.flight_search_details{
	width:100%;
	height:auto;
	float:left;
}
.desktop_sort{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:10px;
}
.desktop_sort ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.desktop_sort ul li{
	height:46px;
	float:left;
	border-radius:4px;
	overflow:hidden;
	margin-right: 4px;
}
.desktop_sort ul li a{
	height:46px;
	display:block;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #293b5d;
	padding:0px 14px;
	font-weight:600;
	line-height:46px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.desktop_sort ul li a:hover, .desktop_sort ul li.active a{
	background:#cca75b;
	color:#FFF;
}
.search_details{
	width:100%;
	float:left;
	background:#FFF;
	padding:10px;
	border-radius:7px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
	margin-bottom:10px;
}
.flights_left_area{
	width:78%;
	height:auto;
	float:left;
}
.flights_left_area01{
	width:100%;
	height:auto;
	float:left;
	border-bottom:1px solid #eaeaea;
	padding-bottom: 5px;
	padding-top: 12px;
}
.flights_left_area01:last-child{
	border-bottom:none;
}
.flight_details{
	width:100%;
	float:left;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #929292;
}
.sm_padding:first-child{
	padding-left:8px !important;
	padding-right:8px !important;
}
.sm_padding{
	padding-left:0px;
	padding-right:0px;
}
.flight_from{
	float:left;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
	font-weight:600;
	text-align: center;
}
.flight_from span{
	color:#929292;
}
.filghtImg{
	padding:9px;
}
.non_stop{
	width:100%;
	float:left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
    font-weight: 600;
}
.non_stop i{
	font-size: 19px;
    color:#cccccc;
}
.non_stop p{
	margin-top: -21px;
    padding-left: 21px;
}
.non_stop h5{
    color:#929292;
	text-align: center;
}
.travel_icons{
	text-align:center;
}
.flight_rate_area{
	width:21%;
	float:right;
}
.rate_area01{
	width:100%;
	float:left;
	padding-top: 11px;
	margin-bottom:15px;
}
.rate_area01 h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
    font-weight: 600;
	text-align:right;
}
.rate_area01 h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #06286a;
    font-weight: 600;
	text-align:right;
}
.more_search{
	height:44px;
	float:right;
	padding:0px 20px;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
	font-weight:600;
	line-height:44px;
	border-radius:4px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cca75b+0,b69551+100 */
background: rgb(204,167,91); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(204,167,91,1) 0%, rgba(182,149,81,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(204,167,91,1) 0%,rgba(182,149,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(204,167,91,1) 0%,rgba(182,149,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca75b', endColorstr='#b69551',GradientType=0 ); /* IE6-9 */
border:none;
cursor:pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	    margin-bottom: 8px;
}
.more_search:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b69551+0,cca75b+100 */
background: rgb(182,149,81); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(182,149,81,1) 0%, rgba(204,167,91,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(182,149,81,1) 0%,rgba(204,167,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(182,149,81,1) 0%,rgba(204,167,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69551', endColorstr='#cca75b',GradientType=0 ); /* IE6-9 */
color:#FFF;
}
.flight_rate_area a{
	height:25px;
	float:right;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
	font-weight:600;
	padding:0px 26px 0px 11px;
	line-height:25px;
	background:#DDDDDD url(../images/more_info.png) no-repeat right;
	border-radius: 3px;
    overflow: hidden;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	cursor:pointer;
}
.flight_rate_area a:hover{
	color:#FFF;
	background:#cca75b url(../images/more_info_hvr.png) no-repeat right;
}
.filghtImg01{
	display:none;
	width:100%;
	    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #06286a;
	font-weight:600;
	text-align:center;
	    line-height: 11px;
}
.mb_flight_rate_area{
	display:none;
}
.mb_flight_logo{
	float:left;
}
.mb_rate_right{
	width:61%;
	float:right;
}
.rate_area02{
	width:auto;
	float:right;
	padding-right: 17px;
}
.rate_area02 h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
    font-weight: 600;
    text-align: right;
}
.rate_area02 h4 {
	font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #06286a;
    font-weight: 600;
    text-align: right;
}
.mb_summary_area{
	display:none;
	width:100%;
	float:left;
	background:#FFF;
	padding:10px;
	border-radius:7px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}
.mb_summary_area p{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #929292;
}
.mb_flight_search{
	width:100%;
	float:left;
}
.destination_from{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #06286a;
    font-weight: 600;
    padding-left: 0px;
    padding-right: 8px;
}
.sp05{
	padding-left: 8px;
    padding-right: 8px;
}
.progress_area_bar{
	width: 25%;
    height: 6px;
    border-radius: 4px;
    background: #e5e5e5;
    float: left;
    margin-top: 8px;
}
.txt_size_18{
	font-size:18px;
}
.mobile_sort_area{
	display:none;
	width: 100%;
    float: left;
    background: #FFF;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}
.sort_area{
	width:50%;
	height:70px;
	float:left;
	position:relative;
	    border-right: 1px solid #e5e5e5;
}
.sort_text{
	width:100%;
	height:100%;
	position:absolute;
}
.sort_text i{
	transform: rotate(90deg) ;
-webkit-transform: rotate(90deg) ;
-moz-transform: rotate(90deg) ;
-o-transform: rotate(90deg) ;
-ms-transform: rotate(90deg) ;
    margin-top: 22px;
    float: left;
	    font-size: 24px;
		    margin-right: 8px;
			color:#06286a;
}
.sort_text h5{
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #06286a;
    font-weight: 600;
	padding-top: 20px;
}
.sort_text h6{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #06286a;
    font-weight: 600;
}
.sort_mb{
	width:100%;
	height:100%;
	position:absolute;
	opacity:0;
	cursor:pointer;
}
.mb_filter_area{
	width:50%;
	height:70px;
	float:left;
	position:relative;
	padding-left:10px;
}
.mb_filter_area a{
	width:100%;
	height:70px;
	display:block;
}
.mb_filter_text{
	width:100%;
	height:100%;
	position:absolute;
}
.mb_filter_text i{
    margin-top: 22px;
    float: left;
	    font-size: 24px;
		    margin-right: 8px;
			color:#06286a;
}
.mb_filter_text h5{
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #06286a;
    font-weight: 600;
	padding-top: 20px;
}
.mb_filter_text h6{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #06286a;
    font-weight: 600;
}
#sort_popup{
	width:100%;
	height:auto;
	float:left;
	display:none;
	position:relative;
	z-index:999999999;
}
#modify_close_btn01{
	border: 1px solid #000;
    text-transform: capitalize;
    background-color: #9495c5;
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	padding: 3px 8px;
	color: #FFF;
	font-weight:600;
	float: right;
    border-radius: 4px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	display:none;
	cursor:pointer;
}
#modify_close_btn01:hover{
	background-color: #cca75b;
	color: #FFF;
}

.show_more_details{
	width:100%;
	height:auto;
	float:left;
    background: #FFF;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
    margin-bottom: 10px;
}
.show_more_details a{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #06286a;
    font-weight: 600;
	display:block;
	padding:10px;
	text-align:center;
	cursor:pointer;
}
.show_more_details i{
	font-size: 15px;
    margin-right: 5px;
}
.mb_more{
	width:100%;
	height:auto;
	float:left;
}
.mb_more a{
	width:100%;
    height: 25px;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #2f3292;
    font-weight: 600;
    padding: 0px 26px 0px 11px;
    line-height: 25px;
    background: #DDDDDD url(../images/more_info.png) no-repeat right;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	text-align:center;
	cursor:pointer;
}
#more_info_popup{
	z-index: 9999999;
    position: relative;
}
#more_info_popup01{
	width:100%;
	height:auto;
	float:left;
	display:none;
	z-index: 9999999;
	position:relative;
	margin-bottom:10px;
}
.itinerary_details{
	width:100%;
	height:auto;
	float:left;
	background:#FFF;
	padding:10px;
	border-radius:7px;
	margin-bottom:10px;
}
.itinerary_head{
	width:100%;
	height:auto;
	float:left;
}
.itinerary_head h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2f3292;
    font-weight: 600;
	float:left;
}
.itinerary_head h2 i{
	font-size: 18px;
    margin-right: 5px;
	    float: left;
}
.itinerary_head h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #929292;
    font-weight: 600;
	float:right;
}
.itinerary_head h3 i{
	font-size: 15px;
    float: left;
    margin-right: 5px;
}
.flight_itinerary{
	width:100%;
	height:auto;
	float:left;
	padding-top:13px;
}
.no_padding_left{
	padding-left:0px;
	padding-right:8px;
}
.itinerary01 h1{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #929292;
	margin-bottom:3px;
}
.itinerary01 p{
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #929292;
	margin-bottom: 4px;
}
.sp06 {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 2px;
    padding: 0px 44px;
}
.filghtImg02 {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #06286a;
    font-weight: 600;
    text-align: center;
    line-height: 11px;
}
.line_flight01 {
    height: 11px;
    background: url(../images/flight_to.png) no-repeat right;
}
.line_flight01 span {
    width: 95%;
    height: 5px;
    float: left;
    background: #e5e5e5;
    border-radius: 4px;
    margin-top: 4px;
}
.txt_right01{
    text-align: right;
    float: right;
}
.itinerary_flight_details{
	width:100%;
	height:auto;
	float:left;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #929292;
    margin-bottom: 3px;
}
.itinerary_flight_details span{
	color: #2f3292;
	font-size: 13px;
	font-weight:600;
}
.flight_from h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #929292;
    margin-bottom: 3px;
}
.flight_from h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #929292;
    margin-bottom: 3px;
}
.left_txt{
	text-align:left !important;
}
.left_padding01{
    padding-left: 9px !important;
    padding-right: 0;
}
.sp08 {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 2px;
    padding: 0px 84px;
}
.fare_details{
	width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.fare_head{
	width:100%;
	height:auto;
	float:left;
}
.fare_head h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #2f3292;
	font-weight:600;
}
.fare_head i{
	transform: rotate(47deg);
    -webkit-transform: rotate(47deg);
    -moz-transform: rotate(47deg);
    -o-transform: rotate(47deg);
    -ms-transform: rotate(47deg);
    font-size: 19px;
    float: left;
    margin-right: 10px;
}
.fare_cont{
	width:100%;
	height:auto;
	float:left;
	padding-top:13px;
}
.left_fare{
	width:48%;
	height:auto;
	float:left;
}
.left_fare ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.left_fare ul li{
	width:100%;
	min-height:17px;
	float:left;
	margin-bottom:8px;
}
.left_fare ul li h1{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #929292;
	float:left;
}
.left_fare ul li h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #06286a;
	font-weight:600;
	float:right;
}
.right_fare{
	width:47%;
	height:auto;
	float:right;
}
.right_fare ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.right_fare ul li{
	width:100%;
	min-height:17px;
	float:left;
	margin-bottom:8px;
}
.right_fare ul li h1{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #929292;
	float:left;
}
.right_fare ul li h2{
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #06286a;
	font-weight:600;
	float:right;
}


.more_info_searchresult{
	width: 100%;
    height: auto;
    float: left;
    
    z-index: 9999999;
    position: relative;
    margin-bottom: 10px;
}
.more_info_searchresultpopup{
	z-index: 9999999;
        display: none;
    position: relative;
}


#more_info_popup03{
	width: 100%;
    height: auto;
    float: left;
    display: none;
    z-index: 9999999;
    position: relative;
    margin-bottom: 10px;
}
#more_info_popup02{
	z-index: 9999999;
    position: relative;
}
.show_more_visible_withborder{
	padding: 10px; 
	background-color: #a7a5cb; 
	float:left;
	border-radius:7px;
}
.hide_area_show{
	width:100%;
	height:auto;
	float:left;
	display:none;
}
#more_info_popup05 {
    z-index: 9999999;
    position: relative;
}
#more_info_popup06 {
    width: 100%;
    height: auto;
    float: left;
    display: none;
    z-index: 9999999;
    position: relative;
    margin-bottom: 10px;
}



/*end*/



@media only screen and (min-width: 200px) and (max-width: 990px) {

.footer_one{
	border-bottom: 1px dashed #6265da;
}
.thirdbelt{
	padding: 0px 0 30px 0;
} 
.header_menu, .user-menu,.footer_explore_area{
	display:none;
}
.logo_area {
    width: 100%;
    text-align: center;
}
.header{
	display:block;
}
.search_result_left{
	width:100%;
}
.search_result_right {
    width: 100%;
    padding-top: 0;
}
.sec_none{
	display:none;
}
.no_padding{
	padding-right: 15px;
    padding-left: 15px;
}
.input_group_bottom{
	margin-bottom: 8px;
}
.search_right_date{
	margin-bottom: 8px;
}
.none_area{
	display:none;
}
.footer-icon a i{
	margin: 0 1px;
}
.mobile_sort_area{
	display:block;
}
.desktop_sort{
	display:none;
}

}
@media only screen and (min-width: 200px) and (max-width: 670px) {
.cmn_links_foo h2{
	width:100%;
}
.cmn_links_foo ul{
	padding-left: 15px;
}
.line_flight span {
    width: 91% !important;
}
}
@media only screen and (min-width: 200px) and (max-width: 346px) {
.line_flight span {
    width: 86% !important;
}
.right_fare {
    width: 52%;
}
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
.searchsummary ul li{
	padding: 6px 16px;
}
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
.sp03{
	display:none;
}
.summary_popup{
	display:none;
}
.mb_summary_area{
	display:block;
}
.flights_left_area {
    width: 100%;
}
.flight_rate_area {
    width: 100%;
}
.flight_from{
	text-align:left;
}
.txt_right{
	text-align:right;
	float:right;
}
.filghtImg{
	display:none;
}
.filghtImg01{
	display:block;
}
.sp04{
	width: 100%;
    height: 20px;
    position: absolute;
    top: 2px;
    padding: 0px 44px;
}
.line_flight{
	height:11px;
	background:url(../images/flight_to.png) no-repeat right;
}
.line_flight span{
	width:95%;
	height:5px;
	float:left;
	background:#e5e5e5;
	border-radius:4px;
	    margin-top: 4px;
}
.flights_left_area01{
    padding-bottom: 25px;
    padding-top: 18px;
}
.flight_rate_area{
	display:none;
}
.mb_flight_rate_area{
	display:block;
}


.itinerary01{
	margin-bottom: 20px;
}
.mrg_btm{
	margin-bottom: 20px;
}
.left_padding01 {
    padding-left: 0px !important;
    padding-right: 0;
}
}
