/*----- Global -----*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.wrap {
	padding:60px 0px;
	background:#4a98d3;
	background:radial-gradient(at 40% 30%, #4a98d3, #00598f);
}



.site-header-wrap {
	margin-bottom:0px;
	border-bottom:1px solid #53a0dc;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
}

	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
.tab-links{
	    background: #FFF;
    padding: 10px;
    border-radius: 6px;
}
	.tab-links li {
		margin:0px 5px 0px 0px;
		float:left;
		list-style:none;
	}

		.tab-links a {
			padding:9px 15px;
			display:inline-block;
			border-radius:4px;
			
			font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #3e3a69;
    font-weight: 600;
			transition:all linear 0.15s;
		}

		.tab-links a:hover {
			background:#3e3a69;
			text-decoration:none;
			color:#FFF;
		}

	.tab-links li.active a, .tab-links li.active a:hover {
		background:#3e3a69;
		color:#FFF;
	}

	/*----- Content of Tabs -----*/
	.tab-content {
		border-radius:7px;
		margin-top:10px;
	}

		.tab {
			display:none;
		}

		.tab.active {
			display:block;
		}