﻿@charset "utf-8";
/* CSS Document */

.car_details{
	width:100%;
	float:left;
	padding-top:10px;
}
.car_details h6{
	font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #867847;
    font-weight: 600;
}
.car_details h5{
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #454f69;
    font-weight: 600;
	    margin-bottom: 5px;
}
.car_details h5 span{
	font-size: 11px;
    color: #797979;
}
.available_sec{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #505050;
    font-weight: 600;
	position:relative;
	padding-left:15px;
	    margin-bottom: 5px;
}
.sendbtn5{
    padding: 8px 0px;
}
.available_sec:before{
	content:"";
	position:absolute;
	width:11px;
	height:11px;
	background:url(../images/transfer/available.jpg) no-repeat;
	left: 0;
    top: 4px;
}
.transfer_cont{
	width:100%;
	float:left;
	padding-bottom:10px;
	margin-bottom:2px;
}
.transfer_cont p{
	font-family: 'Open Sans', sans-serif;
       font-size: 12px;
    color: #505050;
    font-weight: 500;
    text-align: justify;
    line-height: 17px;
}
.transfer_links{
	width:100%;
	float:left;
	    margin-bottom: 4px;
}
.transfer_links a{
font-family: 'Open Sans', sans-serif;
       font-size: 12px;
    color: #c57a2b;
    font-weight: 500;
	padding:0px 10px;
}
.brdr_right{
	border-right:1px solid #b4b4b4;
	padding-left:0px !important;
}
.transfer_right_sec{
	width:100%;
	float:left;
}
.transfer_right_sec h3{
font-family: 'Open Sans', sans-serif;
       font-size: 22px;
    color: #51355e;
    font-weight: 600;
	text-align:right;
	    padding-top: 20px;
		margin-bottom:11px;
}
.transfer_right_sec a{
	    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 600;
    background: #0a9000;
    padding: 8px 10px;
    text-align: center;
    display: block;
    width: 120px;
    float: right;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.transfer_right_sec a:hover{
	background:#043c00;
}
.transfer_details{
	width:100%;
}
.transfer_details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #505050;
    font-weight: 500;
    text-align: justify;
    line-height: 17px;
	padding-bottom:10px;
}
.transfer_details h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:#2d3e52;
    font-weight: 600;
	padding-bottom:10px;
	padding-top:5px;
}
.condition_table{
	width:100%;
	padding-bottom:10px;
}
.condition_table h5{
	 font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 500;
	background:#51355e;
	padding:10px 10px;
}
.red_color{
	color:#F00;
	font-weight:600;
}
.spcont{
	margin-bottom:15px;
}
.spcont p{
	font-weight:500;
	font-size:13px;
}
.transferbook {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 600;
    background: #97ca3d;
    padding: 8px 10px;
    text-align: center;
    display: block;
    width: 120px;
    float: right;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border:none;
}
.transferbook:hover{
    background:#577325;
}




@media only screen and (min-width: 200px) and (max-width: 768px) {
.transfer_right_sec {
    margin-bottom: 12px;
	    border-top: 1px solid #e1e1e1;
}
.transfer_right_sec h3{
    padding-top: 11px;
	text-align:center;
}
.transferbook{
	width:100%; 
}
}