﻿@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700,900|Roboto:400,500,700');
@charset "utf-8";
img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	outline: none !important;
}

::-moz-selection {
 background-color: #dfdae6;
 color: #FFF;
}
::selection {
	background-color: #dfdae6;
	color: #FFF;
}

.browser-warning {
	display: none;
	background: yellow;
	width: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-top: solid 1px #999;
	border-bottom: solid 1px #999;
	text-align: center;
	padding: 10px 0 10px 0;
	color: #000;
}
.browser-warning a {
	color: red;
}
/* Target old browsers with modernizr */
.oldie .browser-warning {
	display: block;
}
body {
	margin: 0;
	padding: 0;
	background: #FFF;
}
.wrapper {
	width: 100%;
	height: auto;
	float: left;
	position: relative;
}
.header {
	width: 100%;
	float: left;
	background: #FFF;
	border-top: 7px solid #867747;
	box-shadow: 0px 0px 20px #000000;
	position: relative;
	z-index: 1;
}
.logo_area {
	float: left;
	padding: 3px 0px;
}
.nav_area {
	float: right;
}
.nav_area ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.nav_area ul li {
	float: left;
}
.nav_area ul li a {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
	padding: 40px 20px 0px 20px;
	display: block;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	background: url(../images/arw_dwn.png) no-repeat center -10px;
}
.nav_area ul li a:hover, .nav_area ul li.active a {
	background: url(../images/arw_dwn.png) no-repeat center 0px;
}
.pushmenu {
	display: none;
}
#nav_list {
	display: none;
}
.pushmenu h3 img {
	width: 105px;
}
.pushmenu h3 {
	text-align: left;
}
.banner_area {
	width: 100%;
	min-height: 200px;
	position: relative;
	float: left;
	background-image: url(../images/banner.jpg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.banner_area_left {
	width: 34%;
	height: 457px;
	background: #867847;
	position: absolute;
	left: 0;
}
.banner_area_left:after {
	width: 310px;
	height: 457px;
	background: url(../images/banner_txt_bg.png) no-repeat 0px 0px;
	right: -300px;
	top: 0;
	content: "";
	position: absolute;
}
.bannertitle {
	width: 40%;
	float: left;
	position: relative;
	padding-top: 100px;
}
.bannertitle h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #1c2338;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.bannertitle p {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #1c2338;
	font-weight: normal;
}
.banner_form {
	width: 34%;
	min-height: 397px;
	float: right;
	background:url(../../../login/images/login_bg.png) repeat;
	margin: 30px 0px;
}
.banner_form h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	color: #FFF;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	background:url(../../../login/images/login_bg.png) repeat;
	padding: 10px 0px;
}
.login_form {
	width: 100%;
	float: left;
	padding: 50px 30px 0px 30px;
}
.usertxt {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	position: relative;
}
.usertxt01 {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	position: relative;
}
.txtinput {
	width: 100%;
	height: 40px;
	background: url(../../images/input_bg.png) repeat;
	border-radius: 5px;
	border: none;
	padding-left: 40px;
	padding-right: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #FFF;
}
.txtinput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: #FFF;
 opacity: 1; /* Firefox */
}

.txtinput:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #FFF;
}

.txtinput::-ms-input-placeholder { /* Microsoft Edge */
 color: #FFF;
}
.usertxt:before {
	width: 12px;
	height: 14px;
	position: absolute;
	content: "";
	left: 14px;
	top: 12px;
	background: url(../../treasure_login/images/username.png) no-repeat;
}
.usertxt01:before {
	width: 16px;
	height: 15px;
	position: absolute;
	content: "";
	left: 14px;
	top: 13px;
	background: url(../../treasure_login/images/password.png) no-repeat;
}
.loginbtn {
	width: 100%;
	float: left;
	padding: 6px;
	border-radius: 3px;
	background:url(../../../login/images/login_bg.png) repeat;
	margin-bottom: 20px;
}
.loginbtn01 {
	width: 100%;
	height: 45px;
	border-radius: 3px;
	border: none;
	border-bottom: 4px solid #5b4f26;
	background: #867847;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: #FFF;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.loginbtn01:hover {
	background: #5b4f26;
	border-bottom: 4px solid #867847;
	color: #a59251;
}
.remember_area {
	width: 100%;
	float: left;
}
.check {
	width: auto;
	float: left;
	position: relative;
}
.remember_area a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #a7a5a3;
	font-weight: 500;
	float: right;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor:pointer;
}
.remember_area a:hover {
	color: #867847;
}
.forgot_form {
    width: 100%;
    float: left;
    padding: 50px 30px 0px 30px;
	display:none;
}
.forgot_form a{
	font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #a7a5a3;
    font-weight: 500;
    float: right;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}
.forgot_form a:hover{
	color:#867847;
}
.forgot_form a i{
	margin-right:5px;
}
.check label {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #a7a5a3;
	font-weight: 500;
}
.check input[type="checkbox"] {
	position: absolute;
	width: 18px;
	height: 18px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	opacity: 0;
	cursor: pointer;
	top: 1px;
}
.check input[type="checkbox"] + label:before {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	background: url(../../treasure_login/images/radio-checkbox5.png) no-repeat;
	content: " ";
	vertical-align: top;
	cursor: pointer;
	margin-top: 0px;
}
.check input[type="checkbox"]:checked + label:before {
	background-position: 0 -18px;
}
.check input[type="checkbox"] + label:before {
	background-position: 0 0px;
}
.whybookarea{
	width:100%;
	float:left;
	padding:30px 0px;
}
.whybookarea h2{
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	color:#1c2338;
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:20px;
}
.whybookarea ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.whybookarea ul li{
	width:20%;
	float:left;
	padding:0px 20px 10px 20px;
}
.whybookarea ul li h3{
	text-align:center;
	margin-bottom:10px;
}
.whybookarea ul li h4{
font-family: 'Raleway', sans-serif;
	font-size: 21px;
	color:#1c2439;
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:10px;
}
.whybookarea ul li p{
font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color:#7c7f87;
	font-weight:400;
	text-align:center;
	line-height:22px;
}
.twt:hover img {
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}
.trs2 {
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}
.viewmore{
	width:171px;
	margin:auto;
}
.more01{
	width:100%;
	float:left;
	background:#0003;
	border-radius:3px;
	padding:6px;
	margin-top:30px;
}
.more01 a{
	width:100%;
	height:45px;
	border-radius:3px;
	background:#867847;
	border-bottom:4px solid #5b4f26;
	display:block;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color:#FFF;
	font-weight:400;
	text-align:center;
	line-height:42px;
	    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.more01 a:hover{
background:#5b4f26;
	border-bottom:4px solid #867847;
}
.packages_area{
	width:100%;
	float:left;
	background:#1c2439;
	padding:30px 0px;
}
.packages_area h4{
font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: #867847;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.packageImg{
	width:50%;
	float:left;
	padding-right:3px;
	background:#142634;
}
.packageImg img{
	width:100%;
	height:298px;
}
.package_details{
	width:50%;
	min-height:248px;
	float:left;
	background:#1a3346;
}
.first{
	width:100%;
	float:left;
	padding:15px;
	background:#18404b;
}
.first h6{
	font-family: 'Raleway', sans-serif;
	color:#2d6979;
	font-size:18px;
	font-weight: 500;
}
.curny{
	color:#c1ae6e;
	font-size:32px;
	font-weight:700;
}
.line5{
	color:#18ae8f;
}
.package_head{
	width:100%;
	min-height:36px;
	float:left;
	margin-bottom:5px;
}
.package_head h5{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}
.sec{
	width:100%;
	float:left;
	padding:15px;
}
.sec_details{
	width:100%;
	float:left;
	min-height:99px;
	border-bottom:1px solid #2f3e4a;
}
.sec_details p{
	font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color: #949ea9;
	font-weight:400;
}
.booking_btn{
	width:100%;
	float:left;
	margin-top:20px;
}
.booking_btn a{
	width:100%;
	height:43px;
	display:block;
	font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFF;
	font-weight:400;
	line-height:43px;
	position:relative;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.booking_btn a:after{
	width:55px;
	height:43px;
	content:"";
	position:absolute;
	top:0;
	right:0;
	background:#c1ae6e url(../../treasure_login/images/arrow.png) no-repeat -55px 0px;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.booking_btn a:hover:after{
background:#3c719a url(../../treasure_login/images/arrow.png) no-repeat 0px 0px;
}
.booking_btn a:hover{
color:#c1ae6e;
}
.footer_area{
	width:100%;
	float:left;
	padding:30px 0px;
	background:url(../../treasure_login/images/footer_bg.png) repeat;
	box-shadow:0px 0px 5px #000;
	position: relative;
}
.copyright{
	width:100%;
	float:left;
	background:#867847;
	padding:16px 0px;
}
.copyright01 p{
	font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
	font-weight:400;
	text-align:left;
	padding-top:12px;
}
.powered p{
	font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #FFF;
	font-weight:400;
	text-align:right;
}
.footer_address01{
	width:100%;
	text-align:left;
	float:left;
	margin-bottom:10px;
}
.footer_address p{
	font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #1c2338;
	font-weight:400;
	text-align:left;
	    line-height: 20px;
}
.footer_links h3{
	font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
	font-weight: 600;
    padding-top: 30px;
	margin-bottom:10px;
}
.footer_links ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer_links ul li{
	width:100%;
	float:left;
	border-bottom:1px solid #126872;
}
.footer_links ul li a{
	    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #1c2338;
    font-weight: 400;
    padding: 7px 0px  7px 15px;
    display: block;
	position:relative;
}
.footer_links ul li a:before{
	content:"";
	position:absolute;
	width:5px;
	height:10px;
	top:13px;
	left:0px;
	background:url(../../treasure_login/images/link_arrw.png) no-repeat -7px 0px;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.footer_links ul li a:hover:before{
	background:url(../../treasure_login/images/link_arrw.png) no-repeat 0px 0px;
}
.get_touch h3{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
}
.get_touch p{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #1c2338;
    font-weight: 400;
	padding-left:21px;
	background:url(../../treasure_login/images/location.png) no-repeat 0px 0px;
}
.get_touch ul{
	margin:0px;
	padding:0px;
	list-style:none;
	padding-top: 16px;
}
.get_touch ul li{
	width:100%;
	 float:left;
	 position:relative;
}
.get_touch ul li a{
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #1c2338;
    font-weight: 400;
	padding:8px 0px 8px 23px;
	display:block;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.get_touch ul li a:hover{
	color:#867847;
}
.call_area:before{
	content:"";
	position:absolute;
	width:19px;
	height:19px;
	top:9px;
	left:0;
	background:url(../../treasure_login/images/call.png) no-repeat;
}
.email_area:before{
	content:"";
	position:absolute;
	width:19px;
	height:19px;
	top:9px;
	left:0;
	background:url(../../treasure_login/images/emailimg.png) no-repeat;
}
.fax_area:before{
	content:"";
	position:absolute;
	width:19px;
	height:19px;
	top:9px;
	left:0;
	background:url(../../treasure_login/images/faximg.png) no-repeat;
}
.newsletter h3{
font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    padding-top: 30px;
    margin-bottom: 10px;
}
.newsletter p{
	font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #126872;
    font-weight: 400;
	margin-bottom:5px;
}
.newsletterArea{
	width:100%;
	float:left;
	position:relative;
	margin-bottom:20px;
}
.nwslter{
	width:100%;
	height:47px;
	float:left;
	background:none !important;
	border:none;
	padding-right:62px;
	padding-left:10px;
	 -moz-box-shadow:    inset 0 0 10px #0000004d;
   -webkit-box-shadow: inset 0 0 10px #0000004d;
   box-shadow:         inset 0 0 10px #0000004d;
   font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #1c2338;
    font-weight: 400;
    border: 1px solid #cecece;
}
.newsletter_btn{
	width:55px;
	height:43px;
	float:right;
	position:absolute;
	right:2px;
	top:2px;
	border:none;
	background:url(../../treasure_login/images/btn_bg.jpg) no-repeat -55px 0px;
	cursor:pointer;
	-webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.newsletter_btn:hover{
background:url(../../treasure_login/images/btn_bg.jpg) no-repeat 0px 0px;
}
.newsletter_btn::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 color: #126872 !important;	
}

.newsletter_btn:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #126872 !important;
}

.newsletter_btn::-ms-input-placeholder { /* Microsoft Edge */
 color: #126872 !important;
}
.follow_us{
	width:100%;
	float:left;
}
.follow_us h4{
	font-family: 'Raleway', sans-serif;
    font-size: 17px;
    color: #1c2338;
    font-weight: 600;
    margin-bottom: 10px;
}
.follow_us a{
	width:33px;
	height:33px;
	border-radius:50%;
	border:3px solid #126872;
	display:block;
	text-align: center;
    font-size: 16px;
	color:#126872;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
	float:left;
	margin-right:5px;
	line-height:28px;
}
.follow_us a:hover{
	background:#867847;
	color:#FFF;
}
input:-webkit-autofill {
    background:none !important;
}

 @media only screen and (min-width: 200px) and (max-width: 768px) {
.nav_area {
	display: none;
}
.pushmenu {
	display: block;
}
#nav_list {
	display: block;
}
.logo_area {
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: -29px;
}
.logo_area img {
	width: 138px;
}
.whybookarea ul li{
	width:100%;
}
.whybookarea h2{
	font-size:25px;
}
.packages_area h4{
	font-size:25px;
}
.more01 {
    margin-top: 2px;
}
.whybookarea {
    padding: 17px 0px;
}
.packages_area {
    padding: 12px 0px;
}
.footer_address{
	width:100%;
	float:left;
}
.footer_links{
	width:100%;
	float:left;
}
.get_touch{
	width:100%;
	float:left;
}
.newsletter{
	width:100%;
	float:left;
}
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
.nav_area ul li a {
	font-size: 14px;
	padding: 40px 10px 0px 10px;
}
.logo_area img {
	width: 138px;
}
.whybookarea ul li:nth-child(1n) {
    width: 33%;
	    min-height: 300px;
}
.whybookarea ul li:nth-child(2n) {
    width: 34%;
}
.whybookarea ul li:nth-child(3n) {
    width: 33%;
}
.whybookarea ul li:nth-child(4n) {
    width: 50%;
}
.whybookarea ul li:nth-child(5n) {
    width: 50%;
}

}
@media only screen and (min-width: 200px) and (max-width: 450px) {
.check label {
	font-size: 13px !important;
}
.remember_area a {
	font-size: 13px !important;
	width: 100%;
	margin-top: 11px;
}
.packageImg {
    width: 100%;
    padding-right: 0px;
}
.package_details {
    width: 100%;
    min-height: 10px;
}
.package_head{
	min-height: 10px;
}
.sec_details {
    min-height: 10px;
}
.booking_btn {
    margin-top: 10px;
}
.packageImg img {
    height: 230px;
}
.banner_form h4{
	font-size:23px;
}
}
@media only screen and (min-width: 200px) and (max-width: 990px) {
.banner_area_left {
	display: none;
}
.bannertitle {
	display: none;
}
.banner_form {
	width: 100%;
	min-height: 10px;
	padding-bottom: 20px;
}
.whybookarea ul li {
    margin-bottom: 10px;
	border: 1px dashed #867847;
}
.copyright01 p {
    text-align: center;
    padding-top: 0;
}
.powered p {
    text-align: center;
}
}
