﻿@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Signika:300,400,600,700";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Rochester');
@font-face {
    font-family: 'mistralregular';
    src: url('../../css/mistral-webfont.eot');
    src: url('../../css/mistral-webfont.eot?#iefix') format('embedded-opentype'),
url('../../css/mistral-webfont.woff2') format('woff2'),
url('../../css/mistral-webfont.woff') format('woff'),
url('../../css/mistral-webfont.ttf') format('truetype'),
url('../../css/mistral-webfont.svg#mistralregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CenturyGothic-Regular';
    src: url('CenturyGothic_gdi.eot');
    src: url('CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('CenturyGothic_gdi.woff') format('woff'), url('CenturyGothic_gdi.ttf') format('truetype'), url('CenturyGothic_gdi.otf') format('opentype'), url('CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}
img, object, embed, video {
	max-width: 100%
}
.ie6 img {
	width: 100%
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, select, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: none
}
a {
	text-decoration: none;outline: none!important;
}
::-moz-selection { background-color:#313490; color:#FFF }
::selection { background-color: #313490; color: #FFF }
.browser-warning { display: none; background: #ff0; width: 100%; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; border-top: solid 1px #999; border-bottom: solid 1px #999; text-align: center; padding: 10px 0; color: #000 }
.browser-warning a {color: red}
.oldie .browser-warning {display: block;}
body {margin: 0;padding: 0;}
.wrapper { width: 100%; height: auto; float: left; position: relative }
.cmn_mid { width: 95%; max-width: 1144px; height: auto; margin: auto }
.cmn_left { width: 100%; height: auto; float: left }
header{width:100%;float:left;background: rgba(255, 255, 255, 0.4);border-bottom: 1px solid rgba(255, 255, 255, 0.39);padding:10px 0px;}
.logo_area{width:auto;float:left;}
.numbers_area{float:right;}
.numbers_area ul{margin:0px;padding:0px;list-style:none;}
.numbers_area ul li{float:right;margin-top: 11px;}
.numbers_area ul li a{font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 500; color: #3e3a69;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;}
.numbers_area ul li a i{font-size:14px;margin-right:6px;}
.numbers_area ul li:nth-child(2n){margin-right:15px;}
.numbers_area ul li a:hover{color:#ff803c;}
.banner_area{width:100%;float:left;}
.banner_head h1{font-family: 'mistralregular';font-size:76px;color:#FFF;text-align:center; line-height: 58px;margin-top: 65px;}
.banner_head h1 span{font-size:60px;}
.login_form{width:100%;float:left; padding-top:15px;}
.login_form01{width:470px;margin:auto;}
.login_form02{width:470px;margin:auto;display:none;}
.form_head{width:100%;float:left;}
.form_txt_area{width:100%;float:left;background:none;padding:10px 12px;position:relative;border-radius:4px;}
.form_txt_area:after{
    content:"";
    position:absolute;
    width:100%;
    height:49px;
    background:url(../images/bottom-brdr.png) no-repeat center top;
    left:0;
    bottom:0;
}
.form_txt_area:before{
    content:"";
    position:absolute;
    width:100%;
    height:49px;
    background:url(../images/top-brdr.png) no-repeat center top;
    left:0;
    top:0;
}
.formArea{width:100%;background:#FFF;border-radius:5px;float:left;position: relative; z-index: 99;overflow: hidden;}
.txt05{width:100%;float:left;height:50px;border:none;background:none;font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 500; color: #5c60af;padding:0px 10px;}
.sp_brdr_btm{border-bottom:1px solid #c2c2c2;}
.form_txt_area a{font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 500; color: #7e80a1;float:right;margin-top: -35px;margin-right: 8px;cursor:pointer;position: relative; z-index: 99;}
.sp_right_pd{padding-right: 64px;}
.form_submit{width:100%;float:left;border-radius:4px;background:#1c8621;height:50px;font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 600; color: #FFF;text-align:center;border:none;margin-top:5px;-webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease;cursor:pointer;position: relative;z-index: 999;}
.form_submit:hover{background:#219b27;}
.none_area{display:none;}
.offers{width:100%;float:left;padding-top:45px;padding-bottom: 20px;}
.offers h2{font-family: 'CenturyGothic-Regular';font-size: 21px; font-weight: normal; color: #FFF;text-align:center;text-transform:uppercase;background:url(../images/head-bg.png) no-repeat center top;padding: 4px 0px;}
.offers_view{width:100%;float:left;padding:20px 0px 0px 0px;}
footer{width:100%;float:left;padding:15px 0px;text-align:center;color:#FFF;font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 500;margin-top: 50px; border-top:1px solid rgba(255, 255, 255, 0.35);}
footer p{padding-bottom:5px; font-family: 'CenturyGothic-Regular'; font-size: 13px;}
footer a i {border-radius: 4px; color: #FFF; font-size: 15px !important; height: 32px; line-height: 32px !important; text-align: center; width: 32px; margin: 0 1px; -webkit-transition: .36s; transition: .36s; overflow: hidden;    border: 1px solid #FFF;}
footer a i:hover {background: #1a8fce;color: #ffffff;}
.color01{color:#2f3292;}
.color02{color:#ff5148;}
.color03{color:#ff7d41;}
.color04{color:#21cbe2;}
.playground {
    width: 61%;
    height: 130px;
    margin: auto;
}
#amazingcarousel-9 .amazingcarousel-title{
    font-family: 'CenturyGothic-Regular' !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.playground .viewport .tlt{font-family: 'CenturyGothic-Regular', sans-serif; font-size: 50px; color: #FFF;font-weight: 700; text-align: center; line-height: 65px; margin-top: 65px;}

.hvr-pulse {
  display: inline-block;vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);
}
.amazingcarousel-item-container:hover .hvr-pulse, .amazingcarousel-item-container:focus .hvr-pulse, .amazingcarousel-item-container:active .hvr-pulse {-webkit-animation-name: hvr-pulse; animation-name: hvr-pulse; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.send_loading{width:100%; height:50px; float:left; border-radius: 4px; background:#cca75b; text-align:center; line-height:50px; position: relative; margin-top: -50px;display:none;}
.send_loading i {font-size: 25px; color:#68501f;}
.amazingcarousel-item{
    padding: 5px !important;
}
.playground h4{
    font-family: 'CenturyGothic-Regular';
    font-size:31px;
    color:#FFF;
    text-align:center;
    font-weight:normal;
        padding-top: 59px;
}
.playground h5{
    font-family: 'CenturyGothic-Regular';
    font-size:31px;
    color:#FFF;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
}





@media only screen and (min-width: 200px) and (max-width: 500px) {
.banner_head h1{font-size: 50px;line-height: 38px;}
.banner_head h1 span{font-size: 44px;}
.login_form01 {width: 100%;}
.login_form02 {width: 100%;}
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
.numbers_area{display:none;}
.logo_area {width: 100%;float: left;text-align: center;}
}
@media only screen and (min-width: 200px) and (max-width: 400px) {
#amazingcarousel-9 .amazingcarousel-item-container{width: 209px !important;height: 149px !important;margin: auto !important;}
.headerimg{height: 856px !important;}
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
.headerimg{height: 833px !important;}
}
@media (min-width: 1300px) {
.container {
	width: 1144px
}
}
@media only screen and (min-width: 500px) and (max-width: 611px) {.headerimg{height: 942px !important;}}
@media only screen and (min-width: 580px) and (max-width: 990px) {
.playground .viewport .tlt{font-size: 40px;line-height: 50px;}
.playground {height: auto;}}
@media only screen and (min-width: 400px) and (max-width: 580px) {.playground .viewport .tlt{font-size: 25px;line-height: 35px;}.playground {height: auto;}}
@media only screen and (min-width: 200px) and (max-width: 400px) {.playground .viewport .tlt{font-size:16px;line-height: 22px;}
.headerimg{height: 766px !important;}
.offers h2{font-size: 27px;}
.playground {height: auto}
}
@media only screen and (min-width: 200px) and (max-width: 494px) {
    .form_txt_area:before{
        display:none;
    }
    .form_txt_area:after{
        display:none;
    }
    .form_txt_area{
        border:1px solid #FFF;
    }
}