/* content */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-9 .amazingcarousel-image {	
	position: relative;
	padding: 4px;
}

#amazingcarousel-9 .amazingcarousel-image img {
	border: 0;
	margin: 0;
	padding: 0;

}

#amazingcarousel-9 .amazingcarousel-title {
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 17px;
    font-weight:700;
	margin:6px;
	text-align:center;
	text-transform:uppercase;
    color:#FFF;
    padding-top: 25px;
}

/* carousel */

#amazingcarousel-container-9 {
	padding: 0px 48px; 
}

#amazingcarousel-9 .amazingcarousel-list-container { 
	padding: 0px 0;
        
}
#amazingcarousel-9 .amazingcarousel-item-container:hover{
        background: rgba(248, 193, 30, 0.39);
}
/* item */

#amazingcarousel-9 .amazingcarousel-item-container {
	text-align: center;
	background-color:rgba(0, 0, 0, 0.28);
	
	    width: 209px;
    height:130px;
	border-radius:3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.amazingcarousel-item-container:before{
    content:"";
    width:100%;
    height:26px;
    top:0;
    left:0;
    background:url(../images/scrl_top.png) no-repeat center top;
    position:absolute;
}
.amazingcarousel-item-container:after{
    content:"";
    width:100%;
    height:26px;
    bottom:0;
    left:0;
    background:url(../images/scrl_bottom.png) no-repeat center top;
    position:absolute;
}

/* arrows */

#amazingcarousel-9 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -48px;
	margin-top: -16px;
}

#amazingcarousel-9 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -48px;
	margin-top: -16px;
}

/* navigation bullets */

#amazingcarousel-9 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-9 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}



